#target {
	max-width:600px;
	max-height:800px;
	float:left;
}

.jcrop-holder #zoom-preview-pane {
	display: block;
	position: absolute;
	z-index: 2000;
	top: 0px;
	/*right: -280px;*/
	left:100%;
	padding: 6px;
	border: 1px rgba(0,0,0,.4) solid;
	background-color: white;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

	-webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
	margin-left:30px;
}

#zoom-preview-pane {
	display:none;
}

.jcrop-holder > div > div > .jcrop-tracker {
	opacity:0;
	cursor:pointer!important;
}
.jcrop-holder > div > div > .jcrop-tracker:hover {
	opacity:1;
	cursor:pointer!important;
}

#zoom-preview-pane .preview-container {
	width: 445px;
	height: 628px;
	overflow: hidden;
}

.jcrop-holder > div:first-child > div:first-child .jcrop-tracker {
	background-color:rgba(255,255,255,0.7);
}

.jcrop-vline, .jcrop-hline {
	background:none;
}

.jcrop-holder img { max-width: none;}