@media screen and (max-width:1680px){

.footerWrap{ max-width:100%; padding:0 20px;}



}

@media screen and (min-width:1680px){

#mainDivHeader, #mainDivSections .mainNav, #mainDivBody, .posRelative, .columna {

  margin: 0 auto;

  max-width: 1503px !important;

}



}

@media screen and (max-width:1200px){

.wrapper{ max-width:100%; padding:0 20px;}

.newsletter p, .newsletterForm label{ font-size:14px;}

.newsletterForm input[type="submit"]{ width:260px;}

.newsletterForm input[type="email"]{ width:420px;}


#loginpopup .modal-dialog, #Signuppopup .modal-dialog{ width:93%; margin:30px auto;}

.socialLinks{ right:25px;}

.rangeArea{ width:112px; }

.rangeSlRT{ width:9px; top: 13px; left: 98px;}

.txtPrices{ font-size:14px;}



/*==========product====================*/

.thumbnail > img, .thumbnail a > img{ width:100%;}

.captionInner{ text-align:center; padding:20px 20px; width:100%;}

.captionInner h4{ font-size:24px;}

.captionInner p{ font-size:14px;}

.capButtonArea a{ margin:5px 0;}

.mainMenu {

 /* width: 70%;*/

}

#panelOufitsProducto ul li{ width:24%;}
.about_us_content_img{ width:25%;}
.about_us_content{ width:75%;}

.header-promocode-adv {
    float: left;
    font-size: 16px;
    line-height: 18px;
    margin-top: -1px;
    text-align: left;
    width: 66%;
}
}

@media (min-width:768px) and (max-width:991px){

.innertop{	 margin: 15px 0;padding: 18px; width:100% }

.static_content_container_img { margin: 0%;}

.product-details-page-img-layer h4 { padding: 20px 100px;} 

.newsletter h3{ font-size:35px;}

.newsletterForm input[type="email"] {

  width: 300px;

}

.newsletterForm input[type="submit"] {

  width: 190px;

}

.yamm .yamm-content{ padding:0;}

.footerColumn{ min-width:176px;}



.rangeArea{ width:112px; }

.rangeSlRT{ width:9px; top: 13px; left: 98px;}

.txtPrices{ font-size:14px;}

.contactSectionLeft{ margin-left:0;}

.capButtonArea a{ margin:5px 0;}

.contactSectionLeft .form-horizontal .control-label{ padding:0; font-size:14px;}



.contactSection{ margin-top:60px;}



.mainMenu{ width:79%;}

.logoArea{ width:20%;}

.capButtonArea{ margin-top:75%;}

#panelOufitsProducto ul li{ width:32%;}

.serviceAll .col-sm-4{ width:24%;}

.serviceAll .row, .header  .row, .letsMakeCnt .row{ margin-left:0; margin-right:0;}

.footerMenu ul li a {

 color: rgb(83, 62, 23);

  font-size: 13px;

  padding: 5px 5px;


}

.nav > li > a{ padding-left:12px; padding-right:12px;}

.menu_search{ width:30%;}
.tabVertically .tabVerticallyMenu{ padding-right:0;}
.tabVerticallyCnt{ padding-left:0; border:0; margin-top:20px;}
.serviceAll .col-sm-4{ width:25%;}
.logoArea {
  padding-left: 0;
}
.mainMenu {
  padding-right: 0;
  width: 79%;
}

.scrollContainer .product__page a{}
.catalog .scrollContainer .product__page a{ width:47%; float:left;}
.catalog .scrollContainer .product__page .products_pictures{ width:100%;}
.abtUsPage .tabVerticallyCnt {
  border-left: 1px solid #ccc;
  box-sizing: border-box;
  padding-left: 30px;
  margin-top:0;
}
.abtUsPage .tabVertically .tabVerticallyMenu{ padding-right:20px;}
.abtUsPage .tabVertically .tabbable{ padding:15px;}

.about_us_content_img{ width:25%;}
.about_us_content{ width:75%;}
.finalaccTabContent label{ font-size:16px;}
.finalaccLeftBottom ul li a{ font-size:14px;}
.finalaccLeft{ padding-right:20px;}
#location_loader{ right: 25%;}
.header-promocode-adv { float: left; font-size: 13px; line-height: 18px; margin-top: -1px; text-align: left;width:66%;}



.catalog .span10 {
    margin-left: 25%;
    width: 83.25%;
}

.catalog .span2 {
    float: left;
    height: 40%;
    margin-top: 0;
    overflow-y: scroll;
    position: fixed;
    left: 28px;
    text-align: left;
    width: 21.75%;
}


}
.header  .topNav, .header  .menu_search{
	-webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */
	-moz-transition: all 0.7s ease;/* Firefox 4-15 */
	-o-transition: all 0.7s ease;/* Opera 10.5-12.00 */
	transition: all 0.7s ease;/* Firefox 16+, Opera 12.50+ */
	 z-index: 999999;
}
.abtUsPage .tabVertically .tabbable{ padding:15px;}
.col-md-12.col-sm-12.col-xs-24.letsMakeBanner{ padding-left:0;}
.about_us_content_img{ padding-left:0;}


.creditCardLeft {
  box-sizing: border-box;
  margin: 0 10px 0 0;
}



.totalAmountPurChs{ float:left; text-align:left; margin-top:15px;}
.cartAccButtonArea .continueShoping{ display:block; margin-top:15px;}
.totalAmountPurChs{ float:none;}

div.bhoechie-tab-content{ padding-left:0;}
.exp-dt-wr{ width:100%; margin-bottom:10px;}
.cvv-inn-wr{ float:left;}
.paymentMethod .paymentHeader{ margin:0 0px 20px;}
.card-logo li{ width:37px;}
.codBox{ margin-left:0; margin-right:0;}
.cartContent{ width:95%;}
.giftcartRowBox{ padding-right:2px;}

.innertop{ padding:0 !important;}

@media screen and (max-width:767px){
	.deleveryAddArea, .deleveryAddress{ width:100%;}
.cartStepHead { width:103%;}	
.cartStepHead h3{ line-height:28px;}
.logAlert{ line-height:21px; text-align:justify;}
.innertop{ padding:0 !important;}
.cart_wr .dropdown-menu  {display:none !important;}
.static_content_container_img { margin: 0%;}

.innertop{	 margin: 15px 0; padding: 0; }

.header1{ position:relative;}

.topNav ul, .topNav, .socialLinks ul{ text-align: center; width:100%;}

.topNav ul li a{ font-size:15px;}

.topNav ul li{ float:none; display:inline-block;}

.socialLinks{ position:relative; width:100%; right:auto; bottom:auto; float:left; margin:15px 0 0;}

.mainMenu .navbar-default .navbar-toggle{ border:1px solid #000;}

.mainMenu .navbar-default .navbar-nav > li{ display:block; float:left; width:100%; margin-bottom:0;}

.mainMenu .navbar-nav{ text-align:left;}

.mainMenu .navbar-left > li > a{ font-size: 15px;

    font-weight: normal;

    line-height: 25px;

padding: 5px 10px;}

.mainMenu .navbar-default .navbar-nav{ width:100%; margin:0;}

.yamm .yamm-content, .submenuColumn{ padding:0;}

.submenuColumn{ margin-bottom:20px;}

.submenuColumn h4 { margin-left :15px;}

.col-xs-24.col-sm-6.col-md-6.submenuColumn > ul {

    margin-left: 50px;

}

.newsletterForm input[type="email"]{ width:100%; margin-right:0; margin-bottom:20px; margin-top: 20px;}

.copyRight p span {

  display: block;

  margin-bottom: 10px;

  padding-right: 0;

}

.footerColumn{ margin-bottom:30px;}

.newsletter h3{ font-size:30px;}

.mainMenu .navbar-default .navbar-nav .dropdown-menu{ position:relative; }

.mainMenu .navbar-default{ margin-top:0;}

#userMenu img {

  width: 20px;

}

.footerColumn{ text-align:center; padding:0px;}

.mainMenu .dropdown-menu{ text-align:left;}

.mainMenu .megamenu{ width:100%; }

.mainMenu .navbar-default .navbar-nav > li.dropdown { /* background:url(../images/large/plus.png) no-repeat 95% 0; */}

.mainMenu .navbar-default .navbar-nav > li.dropdown.minus { /* background:url(../images/large/minus.png) no-repeat 95% 0; */}

.mainMenu .navbar-default .navbar-nav > li:hover .dropdown-menu,.mainMenu .navbar-default .navbar-nav > li.dropdown:hover .dropdown-menu, .mainMenu .navbar-default .navbar-nav > li a:hover .dropdown-menu, .mainMenu .navbar-default .navbar-nav > li:focus .dropdown-menu{ display:none !important; transition:none !important; opacity:1 !important;}

.mainMenu .navbar-default .navbar-nav > li.dropdown.minus .dropdown-menu{ display:block !important;}

.mainMenu .navbar-default .navbar-nav > li.dropdown .dropdown-menu{ opacity:1 !important; transition:none !important;}

.mainMenu .navbar-default .navbar-nav > li.dropdown a, .mainMenu .dropdown-menu{ background:none; color: #000;font-size: 14px;}

.header {background:rgb(255, 255, 255);}

.socialLinks{ display:none;}

.searchCurrency{ position:relative;}

.headerSearch span{ display:none;}

.searchCurrency {

  margin-bottom: 10px;

  overflow: hidden;

  position: relative;

  z-index: 9999;

}

.catalog .span2{ width:100%;}

.catalog .span10{ width:100%;}

.catalog .buscador.span10{ margin-left:0;}

.headerInnerpage .topHeader{ position:relative;}

.catalog .contents .products_pictures{ width:100%; margin-left:0;}

.main-vertical-body.row-fluid{ padding-left:15px; padding-right:15px;}

.headerInnerpage .mainMenu .navbar-left > li.logo{ display:none;}

.mainMenu  #navbar-brand-centered{ height:auto !important;}

.headerInnerpage .mainMenu .navbar-left > li{ margin-top:10px;}

.headerInnerpage .mainMenu .navbar-default .navbar-nav > li > a {

  line-height: 20px;

  position: relative;

  top: 0;

}

.catalog__image .i1{ text-align:center;}

.catalog__image .i1 img{ display:inline-block;}

.catalog .span10{ margin-left:0;}

	.companyLogo{ display:block; text-align:center; width:100%; margin-top:35px;}

.companyLogo img{ display:inline-block; }

.row-fluid .detailsPage .span5{ width:100%;}

.headerInnerpage.headerFix .topHeader{ display:block;}

.prdgallery{ width:100%;}



/*===============================================*/

.thumbnail > img, .thumbnail a > img{ width:100%;}

.captionInner{ text-align:center; padding:20px 20px; width:100%;}

.product-details-page-img-layer h4 {padding: 5px;

    text-align: center;

width: 100%;}

.captionInner h4{ font-size:20px;}

.captionInner p{ font-size:12px;}

.contactCol1, .contactCol2{ padding:0;}

.contactSectionLeft{ margin:0;}

.contactSection{ margin-top:40px;}

.contactSectionLeft .form-horizontal .control-label{ margin-bottom:5px;}

.send{ margin:0px auto; float:none;}

.contactSectionLeft  .col-sm-offset-8.col-sm-10{ text-align:center;}

.btn-danger:focus, .btn-danger.focus{ border:1px solid #000;}

/*===added css start====*/

#opener {

  border-radius: 5px;

  float: right;

  margin: 5px -32px 0 0;

  position: relative;

}

#slide-panel{ display:block;}

.hidden_mobile{ display:block;  padding-bottom: 10px;}

#slide-panel #navbar-brand-centered.collapse{ display:block ;}

#page.openMobileMenu{ position:relative; left:0px; position:fixed;  transform: translateX(270px);transition: transform 0.5s ease-in-out 0s;}

.topNav ul li {

  padding: 0 5px 0 2px;

}

.mainMenu .navbar-default .navbar-nav > li.dropdown .dropdown-menu{ display:none !important;}

.mainMenu .navbar-default .navbar-nav > li.dropdown .dropdown-menu.openDropDown{ display:block !important;}

#slide-panel .mainMenu {

  height: 100%;

  overflow: scroll;

  padding-bottom: 20px;

  position: fixed;

  width: 270px;

  padding-top:0;

}

.nextPrevious{ padding-top:20px;}

/*==added css end====*/

#slide-panel .btn-danger{ border:none;}

.innerColumn{ padding:0;}

.headerInn{ color:#ccc; overflow:visible;}

.currencyBox .select{ width:185px;}

.currency {

  float: left;

  margin-left: 12px;

  padding-top: 5px;

}

.headerBottom {

/*  overflow: hidden;*/

  padding-bottom: 10px;

  padding-top: 10px;

  display:table;

  width:100%;

}

.logArea {

  display: table-header-group;

  text-align: center;

  width: 100%;

}

.searchCurrency{ top:0; margin-bottom:0; overflow:visible;}

.headerInnerpage.headerFix .headerBottom{ padding-top:0;}





/*===================================================================*/

.footerMenu ul li {

    display: inline-block;

    padding-bottom: 8px;

    width: 100%;

}



.navbar-header{ background:rgb(79, 57, 20); }



.logoArea {

    display: block;

    float: none;

    margin: 0 auto;

    text-align: center;

    width: 100%;

}



.logo {

    float: none;}



.logo img{ text-align:center;}





.mainMenu {

    display: inline;

    float: none;

    margin: 0 auto;

    max-width: 100%;

    padding-bottom: 20px;

    padding-left: 20px;

    padding-right: 20px;

    padding-top: 20px;

}



.topNav{ margin:0;}

.topNav li{ padding:3px 7px 0 6px;}

.menu_search {

  

  display: block !important;

  float: none;

  height: 30px;

  margin: 10px auto;

  width: 200px;

}

.search_field {

  display: block;



}

/*===============*/

.mainMenu{ padding: 20px 0;}

.header  .row { margin-left:0; margin-right:0;}



.topNav li {
  padding: 3px 7px 5px 5px;
}

.navbar-collapse{ padding-left:0; padding-right:0; border:none;}

.navbar-header{ border-bottom:1px solid #fff; border-top:1px solid #fff;}

.mainMenu .navbar-default{ margin-bottom:20px;}

.topNav li{ float:none; display:inline-block;}

#panelOufitsProducto ul li{ width:100%; display:block; text-align:center;}

#panelOufitsProducto ul li .prdImage, #panelOufitsProducto ul li .prdImage img{ margin:0px auto;}

.review_right {

  margin-left: 15px;

  width:auto;

}

.serviceAll .row, .letsMakeCnt .row{ margin-left:0; margin-right:0;}
.catalog .span2{ display:block;}
.btn.btn-danger{ display:none;}
.header.headerFix .topNav, .header.headerFix .menu_search {
  border: 0 none;
  height: 0;
  overflow: hidden;
  padding: 0;
  margin:0;
}
.serviceAll .col-xs-12 .service-box{ margin-bottom:20px;}

.letsMakeCnt .row {
  margin: 0;
}
.header.headerFix .logo img{ width:80%;}
.letsMakeCnt .letsMakeBanner+a{ width:50%; padding-right:15px; padding-left:7.5px; float:left;}
.letsMakeBanner{ padding-right:7.5px;}

.tabVertically .tabVerticallyMenu{ padding-right:0;}
.tabVerticallyCnt{ padding-left:0; border:0; margin-top:20px;}

#myModal25 .form-group label, #myModal25 .form-group .form-control{ width:100%; }
#myModal25 .form-group .btn-primary{ margin-left:80px; width:80px; position:relative; left:50%;}

#banner, .bodyContent{ margin-top:0 !important;}
.topNav li {
  padding: 3px 7px 5px 5px;
}
.letsMakeBannerInner {
  padding-left: 0px;
  padding-right: 0px;
}
.about_us_content_img{ width:100%; padding:0;}
.about_us_content{ width:100%; padding:0; margin-bottom:30px;}
.abtUsPage .tabVerticallyCnt p{ min-height:0;}
.googleMap  div { width:100% !important;}
.static_one+.contactCol1 .row{ margin:0;}
.static_page_container{ padding-top:0;}
.col-md-12.col-sm-12.col-xs-24.letsMakeBanner, .col-md-12.col-sm-12.col-xs-24.letsMakeBanner{ padding-left:0;}
#Signuppopup.mypoup h4, #loginpopup.mypoup h4, .finalAccountPage h4{
  color: #000;
  font-size: 20px;
}
.logformSEc, .logoPopSignUpSec{ width:100%; background:none; padding:0;}
.logSgnUp .logformSEc {
  background:none;
  width: 100%;
}
.fk-font-12 {
  font-size: 10px;
}
.fk-font-14 {
  font-size: 13px;
}

.cartGrandtotal, .exp-dt-wr, .cvv-inn-wr{ width:100%;}
.logSgnUp .logoPopSignUpSec{ padding:30px 0; width:100%;}
.finalaccLeft{ width:100%; border-bottom:1px solid #ccc; margin-bottom:20px; margin-bottom:15px; padding:0 0 15px; background:none; }
.finalaccRight{ width:100%; padding:0;}
.finalaccTabContent label{ width:100%; margin-right:0; margin-bottom:8px;}
.finalaccTabContent .inputBox{ width:100%;}
.finalaccTabContent .popFormSubmitBtn{ margin-left:0;}
#location_loader{ right: 25%;}
.header-promocode-adv { width:100%; line-height: 25px;}
.orderConfirmText { float: left; margin-bottom: 20px;}
.section_margin_bottom{ margin-bottom:22px;}
}



