﻿html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {

	margin: 0;

	padding: 0;

	border: 0;

	outline: 0;

	font-size: 100%;

	vertical-align: baseline;

	background: transparent;

}

body {

	line-height: 1;

	font-family: 'Lato', sans-serif;

	color: #000;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {

	display: block;

}

nav ul {

	list-style: none;

}

a, input[type="submit"] {

	-webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */

	-moz-transition: all 0.7s ease;/* Firefox 4-15 */

	-o-transition: all 0.7s ease;/* Opera 10.5-12.00 */

	transition: all 0.7s ease;/* Firefox 16+, Opera 12.50+ */

}

ul, ul li {

	padding: 0px;

	margin: 0px;

	list-style: none;

}

body a:hover, body a:focus {

	text-decoration: none;

	outline: none;

}

img {

	font-size: 0;

	line-height: 0;

	border: none;

	display: block;

	max-width: 100%;

}

.clear {

	clear: both;

}

.norightMargin {

	margin-right: 0px;

}

/*===============================================*/



#page {

	padding: 0;

	margin: 0;

}

.header {padding-top: 1px;margin: 0px;z-index: 9999;background: rgb(255,255,255);position:fixed;top:0; left:0; width:100%;}

.logo {

	text-align: center;

	position: relative;

	z-index: 9;

	float: left;

}

.logo a {

	display: inline-block;

	-webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */

	-moz-transition: all 0.7s ease;/* Firefox 4-15 */

	-o-transition: all 0.7s ease;/* Opera 10.5-12.00 */

	transition: all 0.7s ease;/* Firefox 16+, Opera 12.50+ */

}

.logo img {

	display: inline-block;

	-webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */

	-moz-transition: all 0.7s ease;/* Firefox 4-15 */

	-o-transition: all 0.7s ease;/* Opera 10.5-12.00 */

	transition: all 0.7s ease;/* Firefox 16+, Opera 12.50+ */
	width: 100%;

}

.mainMenu .navbar-brand {

	display: none;

}

.mainMenu .navbar-nav {

	width: 100%;

	background-color: rgb(255,255,255);

	border-bottom: none;

	z-index: 99999;

}

.navbar-default {

	border-color: #FFFFFF !important;
	background: #FFFFFF !important;

}

/*.mainMenu .navbar-nav > li{ width:20%;}*/



.mainMenu.navbar-nav > li {

	display: inline-block;

	float: none;

}

.mainMenu .navbar-nav > li.homeMenu {

	display: inline-block;

	float: none;

}

.mainMenu .navbar-nav > li.musicMenu {

	display: inline-block;

	float: none;

}

.mainMenu .navbar-nav > li.caltureMenu {

	display: inline-block;

	float: none;

}

.mainMenu .navbar-nav > li.optionMenu {

	display: inline-block;

	float: none;

}

.mainMenu .navbar-nav > li.sectionMenu {

	display: inline-block;

	float: none;

}

.mainMenu .navbar-nav > li > a {

	font-size: 16px;

	color: rgb(83,62,23);

	font-weight: normal;

	text-align: center;

	-webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */

	-moz-transition: all 0.7s ease;/* Firefox 4-15 */

	-o-transition: all 0.7s ease;/* Opera 10.5-12.00 */

	transition: all 0.7s ease;/* Firefox 16+, Opera 12.50+ */

}

.mainMenu .navbar-nav > li > a {

	background-position: -10px -100px;

}

.mainMenu .navbar-nav > li > a:hover {

	color: #a9a9a9;

	background-position: 0px 00px;

}

.mainMenu .navbar-default .navbar-nav > .active > a, .mainMenu .navbar-default .navbar-nav > .active > a:focus, .mainMenu .navbar-default .navbar-nav > .active > a:hover {

	color: rgb(199,145,81);

	background-position: 0px 00px;

}

.mainMenu .navbar {

	margin-bottom: 0;

}

.mainMenu .navbar-default {

	border-width: 0;

}

.header.headerFix {

	padding: 0;

	position: fixed;

	width: 100%;

	z-index: 9999;

}

/*.header.headerFix .logo a{  margin:8px 0 6px 0;}



.header.headerFix  .mainMenu .navbar-nav > li > a { font-size:18px; line-height:22px; padding:32px 0 30px 0;}



.header.headerFix .logo img{ width:135px;}*/



.bodyContent {

	padding: 0;

	margin: 0px;

}

.topHeader {

	width: 100%;

	overflow: hidden;

	padding-right: 10px;

	box-sizing: border-box;

}

.topNav {

	float: none;

	display: inline-block;

}

.topNav {

	float: none;

	padding: 0;

	margin: 9px;

}

.topNav li {

	float: left;

	padding:0 10px 0 8px;

	background: url(../images/large/topNavDivider.png) no-repeat right 5px;

}

.topNav li a {

	font-size: 14px;

	color: rgb(83,62,23);

	font-weight: normal;

	line-height: 16px;

}

.topNav li a:hover {

	color: #a9a9a9;

}

.topNav li img {

	width: 25px;

}

.topNav li:last-child {

	background: none;

}

.socialLinks {

	width: 200px;

	position: absolute;

	bottom: 10px;

	right: 20px;

	z-index: 9999;

	top: 43px;

}

.socialLinks ul {

	width: auto;

	float: right;

	padding: 0;

	margin: 0;

}

.socialLinks ul li {

	display: inline-block;

	margin-left: 5px;

}

.socialLinks ul li img {

	width: 25px;

	height: 24px;

	-webkit-transition: all 0.7s ease;/* Safari 3.2+, Chrome */

	-moz-transition: all 0.7s ease;/* Firefox 4-15 */

	-o-transition: all 0.7s ease;/* Opera 10.5-12.00 */

	transition: all 0.7s ease;/* Firefox 16+, Opera 12.50+ */

}

.socialLinks ul li a:hover img {

	/* transform: rotate(0deg) scale(1.2, 1.2) skew(0deg, 0deg) translate(0px, 0px);



	-moz-transform: rotate(0deg) scale(1.2, 1.2) skew(0deg, 0deg) translate(0px, 0px);



	-webkit-transform: rotate(0deg) scale(1.2, 1.2) skew(0deg, 0deg) translate(0px, 0px);



	-o-transform: rotate(0deg) scale(1.2, 1.2) skew(0deg, 0deg) translate(0px, 0px);



	-ms-transform: rotate(0deg) scale(1.2, 1.2) skew(0deg, 0deg) translate(0px, 0px); */



	-moz-transform: rotate(360deg);

	-moz-transform: skewx(360deg) translatex(360deg);

	-webkit-transform: rotate(360deg);

	-o-transform: rotate(360deg);

	-ms-transform: rotate(360deg);

}

}

/*----yamm start-----*/



.yamm .nav,  .yamm .collapse,  .yamm .dropup,  .yamm .dropdown {

	position: static;

}

.yamm .container {

	position: relative;

}

.yamm .dropdown-menu {

	left: auto;

}

.yamm .yamm-content {

	padding: 20px 30px;

}

.yamm .dropdown.yamm-fw .dropdown-menu {

	left: 0;

	right: 0;

}

/*



.mainMenu .navbar-left{ width:100%; text-align:center;}



.mainMenu .navbar-left > li{ display:inline-block; float:none; position:static;}



.mainMenu .navbar-default {



  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;



  border: medium none;



  border-radius: 0;



  box-shadow: none;



  margin-bottom: 0px;



  margin-top: 10px;



  outline: medium none;



  min-height:10px;



}



.mainMenu .navbar-left > li > a {



  color: #000;



  font-size: 15px;



  padding:0px 15px;



}



.mainMenu .navbar-default .navbar-nav > li > a{ color:#000;}



.mainMenu .navbar-default .navbar-nav > li > a:hover{ color:#ffc20f;}



.megamenu li{ margin-bottom:8px;}



.megamenu li a{font-size:14px; color:#000;}



.megamenu li a:hover{ color:#ffc20f;}



.mainMenu .navbar-default .navbar-nav > li{ margin-bottom:10px;}



.mainMenu  .megamenu { width:65%; margin:0px auto;}*/



.submenuColumn h4 {

	font-size: 15px;

	font-weight: bold;

	margin-bottom: 8px;

}

/*----yamm end-----*/



#banner {

	padding: 0;

	margin: 0;

	position: relative;

}

#banner img {

	width: 100%;

	height: auto;

}

.bannerBtmGray {

	padding: 20px 0;

	background: rgb(240,240,240);

}

.our_brand {

	background: #fff;

}

.bannerBtmGray {

	text-align: center;

}

.bannerBtmGray img {

	display: inline-block;

	width: 500px;

}

.newsletter {

	width: 100%;

	clear: both;

}

.wrapper {

	max-width: 1100px;

	margin: 0px auto;

}

.newsletter {

	margin-bottom: 20px;

	margin-top: 20px;

	text-align: center;

}

.newsletter h3 {

	font-size: 30px;

	color: #000;

	width: 100%;

	text-align: center;

	margin-top: 0;

	margin-bottom: 20px;

}

.newsletter p {

	font-size: 16px;

	color: #000;

	width: 100%;

	font-weight: normal;

}

.newsletterForm {

	width: 100%;

	clear: both;

	margin-top: 15px;

}

.newsletterForm label {

	font-size: 16px;

	color: #000;

	font-weight: normal;

	display: inline-block;

	margin-right: 20px;

}

.newsletterForm input[type="email"] {

	width: 250px;

	border-right: 0;

	border-left: 0;

	border-top: 0;

	border-bottom: 1px solid #000;

	padding: 0px 10px;

	box-sizing: border-box;

	display: inline-block;

	margin-right: 20px;

	font-size: 16px;

	color: #000;

	font-weight: normal;

}

.newsletterForm input[type="submit"] {

	background: #000;

	color: #000;

	font-size: 16px;

	color: #fff;

	width: 160px;

	padding: 10px 30px;

	border: none;

	outline: none;

	display: inline-block;

}

.newsletterForm input[type="submit"]:hover {

	background: #ffc20f;

}

.footer {

	background: rgb(255,255,255);

	padding: 30px 0 20px;

	color: #fff;

}

.footerWrap {

	max-width: 1450px;

	margin: 0px auto;

}

.footerColumn {

	display: inline-block;

	vertical-align: top;

	width: 130px;

}

.footerColumn h4 {

	color: #fff;

	font-size: 16px;

	font-weight: normal;

	margin-bottom: 10px;

	margin-top: 0;

}

.footerColumn ul {

	padding: 0px;

	margin: 0;

}

.footerColumn ul li {

	width: 100%;

	display: block;

	margin-bottom: 5px;

}

.footerColumn ul li a {

	color: #fff;

	font-size: 14px;

	text-transform: uppercase;

}

.footerColumn ul li a:hover {

	color: #ffc20f;

}

.copyRight {

	width: 100%;

	clear: both;

	text-align: center;

}

.copyRight p, .copyRight p a {

	font-size: 15px;

	color: #a8a2a2;

	font-weight: normal;

	display: inline-block

}

.copyRight p span {

	padding-right: 20px;

	font-size: 14px;

	color: rgb(83, 62, 23);

}

.copyRight p a:hover {

	color: #ffc20f;

}

/*.headerFix .topHeader{ display:none;}*/



.headerFix .headerInn, .headerFix .mainMenu .dropdown-menu {

	background: #f1f1f1;

}

.mainMenu .dropdown-menu {/*background:#f1f1f1;*/

	background: url(../images/large/transBg.png) repeat;

	border: none;

	box-shadow: none;

	z-index: 1000

}

.dropdown-menu > li > a:hover, .dropdown-menu1 > li > a:focus {

	background-color: rgb(79,57,20);

	color: #fff;

	text-decoration: none;

}

.headerFix {

	position: fixed;

	width: 100%;

	left: 0;

	top: 0;

}

.headerFix .mainMenu .navbar-default {

	margin-top: 0;

}

.searchCurrency {

	float: right;

	padding-right: 15px;

	width: auto;

	z-index: 2147483647;

}

.searchCurrency a {

	display: inline-block;

	float: left;

}

.headerSearch span {

	color: #000;

	display: inline-block;

	font-size: 13px;

	padding-left: 8px;

	float: left;

}

.searchCurrency input[type="submit"] {

	background: url(../images/large/searchIcon.png) no-repeat;

	border: none;

	outline: none;

	background-color: none;

	width: 20px;

	display: inline-block;

	float: left;

}

.searchCurrency input[type="text"] {

	border: none;

	border-bottom: 1px solid #000;

	padding: 1px 10px 3px;

	font-size: 13px;

	color: #000;

	background: none;

	margin-left: 8px;

	float: left;

}

/*.searchCurrency{ position:fixed; left:0px; top:10px;}*/



.headerSearch {

	float: left;

	margin-right: 00px;

	margin-top: 5px;

}

.currency {

	float: left;

	margin-left: 30px;

	padding-top: 0px;

}

.currencyBox {

	display: inline-block;

}

.currency span {

	font-size: 16px;

	font-weight: bold;

	color: #000;

}

.currencyBox select {

	border-bottom: 1px solid #000;

	border-top: none;

	border-right: none;

	border-left: none;

	background: none;

	margin-left: 10px;

	font-size: 13px;

}

.headerFix .currency {

	display: none;

}

.headerBottom {

	padding-top: 10px;

}

.headerFix .headerBottom {

	padding-top: 0;

}

.contentLegal__methods > img {

	height: 18px;

	margin-left: 12px;

	display: inline-block;

}

.contentLegal__methods {

	text-align: center;

	margin-top: 20px;

	margin-bottom: 20px;

}

.footerMenu {

	width: 100%;

	text-align: center;

	margin-bottom: 20px;

}

.mainMenu .navbar-nav > li > .dropdown-menu {

	border-top-left-radius: 0;

	border-top-right-radius: 0;

	margin-top: 10px;

}

/*===============Listing Page start============*/



.headerInnerpage .topHeader {

	position: fixed;

	width: 100%;

	top: 10px;

	left: 0;

}

.headerInnerpage .headerBottom {

	padding-top: 0;

}

.headerInnerpage .mainMenu .navbar-default {

	margin-top: 0;

}

.headerInnerpage .headerInn {

	padding: 0;

}

.headerInnerpage .mainMenu .navbar-default .navbar-nav > li {

	margin-bottom: 0;

}

.headerInnerpage .mainMenu .navbar-left > li {

	margin-top: -20px;

}

.headerInnerpage .mainMenu .navbar-default .navbar-nav > li.logo > a {

	background: #fff none repeat scroll 0 0;

	margin-right: 15px;

	position: relative;

	text-align: center;

	z-index: 9;

}

/*.headerInnerpage  .mainMenu .navbar-default .navbar-nav > li.logo img{ width:90px;}*/



.headerInnerpage .mainMenu .navbar-left > li > a {

	line-height: 0;

}

.headerInnerpage .mainMenu .navbar-default .navbar-nav > li > a {

	top: -15px;

	position: relative;

}

.headerInnerpage .mainMenu .navbar-default .navbar-nav > li.logo > a {

	top: 0;

}

.companyLogo {

	float: left;

	display: none;

}

.companyLogo img {

	width: 90px;

}

.headerInnerpage .topHeader {

	overflow: visible;

}

.headerInnerpage .socialLinks {

	bottom: -41px;

}

.bodyContent {

	padding: 0 0 50px;

	margin: 0;

	clear: both;
	min-height:850px;

}

.ficha_top_navigation {

	line-height: 1em;

	margin-bottom: 0.3em;

}

.listHeaderNavContainer {

	background: #fff none repeat scroll 0 0;

	height: 20px;

	padding-left: 11px;

	position: relative;

	width: auto;

	font-size: 11px;

}

.content_navigation_menu .separator, .content_navigation_menu span, #buscador_pie .scroll_top {

	color: #797979;

}

.content_navigation_menu a {

	color: #000;

	font-size: 15px;

	font-weight: 500;

	text-decoration: none;

}

#barraOrdenacion .buscador_order {

	margin-left: 1em;

}

#barraOrdenacion .separator {

	margin: 0 0.3em;

}

#barraOrdenacion {

	font-size: 14px;

	color: #000;

	padding-bottom: 20px;

	padding-top: 20px;

}

.catalog .buscador.span10 {

	margin-left: 15.75%;

}

.catalog .span2 {

	/*width: 15.75%;*/
	/*text-align: left;*/
	/*float: left;*/
	/*margin-top:50px;*/
	/*position: fixed;*/
	/*margin-top:0px;*/
	/*overflow-y: scroll;*/
	/*height: 60%;*/
    /*left: 68px;*/
width: 15.75%;

	text-align: left;

	float: left;
	margin-top:50px;
}
.sidebarBorderedBlock {

	margin-bottom: 0.7em;

	padding-bottom: 0.6em;

	overflow: hidden;

}

.sidebarBorderedBlock.view_menu span, .sidebarBorderedBlock span {

	font-size: 15px;

}

.catalog .span12 {


   /* padding-top: 20px;*/
    width: 100%;

}

.catalog .span12.sub_prendas {

	padding-left: 10px;

}

.sidebarBorderedBlock .active a, .sidebarBorderedBlock .all a {

	color: rgb(83, 62, 23);

	display: block;

	margin-bottom: 8px;
	line-height: 20px;
}

.sidebarBorderedBlock .menuLabel, .sidebarBorderedBlock .no_selected, .sidebarBorderedBlock .active, .sidebarBorderedBlock .selected, .sidebarBorderedBlock .all {

	min-height: 0;

}

.sidebarBorderedBlock h1 {

	font-weight: bold;

	font-size: 16px;

}

.sidebarBorderedBlock .menuLabel {

	display: block;

	font-size: 13px;

	font-weight: bold;

	margin-bottom: 16px;

	text-transform: uppercase;

}

.rangeSl {

	cursor: pointer;

	float: left;

	left: 0;

	position: relative;

	text-align: left;

	width: 6px;

	z-index: 3;

}

.sidebarBorderedBlock .input_range {

	display: block;

	float: left;

	font-weight: normal;

}

.rangeSlRT {

	cursor: pointer;

	float: left;

	left: 178px;

	position: relative;

	width: 6px;

	z-index: 3;

}

.rangeArea {

	height: 45px;

	vertical-align: middle;

	width: 190px;

}

.rangeLine {

	cursor: pointer;

	height: 9px;

	left: -1%;

	overflow: hidden;

	position: relative;

	top: -50%;

	width: 100%;

	z-index: 2;

}

.rangeLineBg {

	background-color: #000000;

	float: left;

	height: 1px;

	left: 0;

	position: relative;

	top: 4px;

	width: 189px;

}

.txtPrices {

	color: rgb(204, 204, 204);

	display: block;

	font-size: 19px;

	margin-top: -14px;

	position: relative;

	text-align: center;

	width: 94%;

	z-index: 1;

}

.catalog .sidebar .checkboxSelector {

	cursor: pointer;

	display: block;

	float: left;

	margin: 3px 0 11px !important;

	width: 100%;

}

.catalog .sidebar .checkboxSelector .checkboxSelector__img {

	background-image: url("http://st.mngbcn.com/images/catalog/Oval@2x.svg");

	background-size: 100% auto;

	cursor: pointer;

	float: left;

	height: 16px;

	margin: -1px 6px 0 0;

	width: 16px;

}

.catalog .sidebar .checkboxSelector .checkboxSelector__input {

	display: none;

	margin-right: 6px;

	margin-top: 3px;

}

.catalog .contents .products_pictures.clear_0 {

	margin-left: 0;

}

.catalog .contents .products_pictures .imageTile {

	position: relative;

}

.catalog__image {

	display: block;

	text-decoration: none;

}

.catalog__image .i1 {

	opacity: 1;

	position: relative;

	z-index: 1;

	cursor: pointer;

}

.span10.contents {

	float: left;

}

.catalog .contents .products_pictures {

	text-align: center;

}

.searchResultPrice {

	display: block;

	font-size: 13px;

}

.products_pictures .searchResultPrice .txtEntero {

	font-size: 17px;

	color: rgb(83, 62, 23);

}

.catalog .contents .more_colors_container {

	background-color: #fff;

	left: 0;

	right: 0;

	width: 100%;

	overflow: hidden;

}

.more_colors_wrapper {

	position: relative;

	margin-top: -23px;

}

.searchResultContents a {

	font-size: 13px;

	color: rgb(83, 62, 23);

}

.searchResultOptions {

	text-align: center;

}

.searchResultOptions img {

	display: inline-block;

	width: 25px;

	height: 11px;

	margin: 0px 2px;

	border: 1px solid #ccc;

}

.searchResultContents .more_colors_wrapper {

	display: none;

}

.searchResultContents:hover .more_colors_wrapper {

	display: block;

}

.searchResultContents {

	margin-top: 20px;

}

.searchResultContents > div {

	margin-bottom: 5px;

}

.catalog .span10 {

	width: 83.25%;
	margin-left: 1%;
	/*margin-left: 15%*/;

}

.catalog .scrollContainer .span12 {

	width: 100%;

}

.catalog .scrollContainer .span4 {

	width: 32.5325%;

	float: left;

}

.catalog .contents .products_pictures {

	border: 0 none;

	margin-bottom: 1em;

	margin-left: 1.2%;

	text-align: center;

}

.main-content.container-fluid {

	padding: 0;

}

/*===============Listing Page end============*/



/*======details page start=======*/



.detailsPage {

	width: 100%;

	clear: both;

	padding: 0;

	margin: 0;

}

.modalNew {

	border: 1px solid #ccc;

	border-radius: 3px;

	height: auto;

	left: 10%;

	opacity: 0;

	padding: 15px;

	top: 10%;

	transition: all 0.25s ease 0s;

	width: 80%;

	z-index: 0;

}

.modalNew.modalAvisoEmpleados {

	border-radius: 10px;

	display: block;

	left: 50%;

	margin-left: -350px;

	padding: 25px 25px 40px;

	width: 750px;

	z-index: 500 !important;

}

.home_ficha {

	margin: 0 auto 1em;

}

.detailsPage .catalog .buscador.span10 {

	margin-left: 0;

}

.nextPrevious a {

	color: #797979;

	text-decoration: none;

	font-size: 13px;

}

.nextPrevious {

	padding-right: 15px;

	padding-top: 10px;

}

.detailsPageBredCum {

	float: left;

}

.detailsContent {

	width: 100%;

	margin-top: 10px;

	overflow: hidden;

}

.prdDts {

	width: 100%;

}

.info_cabecera_producto h1 {font-size: inherit;font-weight: inherit;margin: 0 0 5px;color: rgb(83, 62, 23); }

.datos_ficha_producto .referenciaProducto {

	color: rgb(83, 62, 23);

}

.datos_ficha_producto .precioProducto span {

	color: rgb(83, 62, 23);

}

.datos_ficha_producto .precioProducto span.erased.false {

	color: rgb(83, 62, 23);

}

.datos_ficha_producto .precioProducto .erased {

	font-size: 24px;

}

.ficha .precio_estrella_wrapper {

	display: inline;

}

.datos_ficha_producto .precioProducto .solo_ficha.precio_rebajas, .ficha_outfit .outfit_total_amount .outfit_precio_estrella {

	color: rgb(83, 62, 23);

	font-size: 11px;

}

.precio_cabecera_producto .icono.star-price {

	font-size: 0.7em;

	margin-left: 0.1em;

	text-transform: lowercase;

}

.row-fluid .span5 {

	width: 41.3759%;

}

.detailsPageTop {

	overflow: hidden;

	margin-bottom: 20px;

	margin-top: 20px;

}

.precio_cabecera_producto {

	margin-top: 15px;

}

.precio_estrella_wrapper {

	display: inline;

}

.datos_ficha_producto .precioProducto {

	border-bottom: 1px solid #ddd;

	margin: 1em 0;

	padding-bottom: 0.8em;

}

.datos_ficha_producto .producto_color , .datos_ficha_producto .producto_color .producto_actual_color {

	color: #666;

	display: inline;

	font-size: 13px;

	min-height: 0;

}
.producto_title_color {
	color: rgb(83, 62, 23);

	display: inline;

	font-size: 15px;

	min-height: 0;
	padding-right:5px;
}
.chooseColor {

	overflow: hidden;

}

.color_div_on {

	float: left;

	margin-right: 1%;

	margin-top: 2%;

}

.round-border {

}

.color_div_off .round-border, .color_div_on .round-border {

	height: 24px !important;

	width: 24px !important;

	border: 1px solid #ccc;

	border-radius: 50%;

}

.color_div_off .round-border img, .color_div_on .round-border img {

	border-radius: 100%;

	cursor: pointer;

	height: 20px;

	left: 1px;

	opacity: 1;

	position: relative;

	top: 1px;

	width: 20px;

}

.color_div_on .round-border:hover {

	transform: scale(1.2);

	-moz-transform: scale(1.2);

	-webkit-transform: scale(1.2);

	-o-transform: scale(1.2);

	-ms-transform: scale(1.2);

}

.datos_ficha_producto .selector_tallas {

	margin: 2em auto;

	position: relative;

	overflow: hidden;

}

.row-fluid .span5 {

	width: 41.3759%;

	float: left;

}

.datos_ficha_producto .selector_tallas .eu_size {

	margin-left: 1em;

}

#listaTallas {

	width: 270px;

	float: left;

}

#listaTallas select {

	width: 100%;

}

.eu_size .eu_text {

	float: left;

	font-size: 13px;

	padding-top: 0.6em;

	text-decoration: underline;

}

.catalog .addToBag {

	background-color: #4d4d4d;

	border: 1px solid #4d4d4d;

	border-radius: 0.25em;

	color: white;

	cursor: pointer;

	font-size: 15px;

	font-weight: bold;

	margin-bottom: 0;

	min-height: 0;

	padding-bottom: 8px;

	padding-top: 8px;

	text-align: center;

	text-transform: uppercase;

	display: block;

	margin-left: 0;

}

.catalog .addToBag:hover {

	background-color: #dedede;

	border: 1px solid #dedede;

}

.shop_wishlist {

	overflow: hidden;

	margin-top: 15px;
	line-height: 20px;

}

.shop_wishlist a {min-height: 0;padding: 0.5em 0;text-align: center;	background-color: rgb(83, 62, 23);border-radius: 0.25em;color: #fff;font-size: 20px;display: block;float: left;width: 100%;}

.addWhishlist {

	margin-left: 3%;

}

.shop_wishlist a:hover {

	background-color: #444;

	color: #fff;

}

.social-Connect ul li {

	display: inline-block;

	margin-right: 5px;

}

.social-Connect {

	padding-top: 25px;

	padding-bottom: 25px;

}

.main-content .accordion-heading {

	border-top: 1px solid #ccc;

}

.main-content .accordion-heading a {	color: rgb(83, 62, 23);	display: block;	letter-spacing: 0.15em;	padding-bottom: 0;	padding-top: 0;	text-transform: uppercase;	width: 100%;margin: 10px 0;	font-size: 15px;font-weight: 700; }

.tabPanels {

	padding-right: 15px;

}

.tabPanels .accordion-body .accordion-inner {

	padding-bottom: 15px;

}

.tabPanels .accordion-body p {font-size: 14px;line-height: 25px;color : rgb(83, 62, 23); }

.tabPanels .accordion-toggle {

	background: url(../images/large/flecha_izq.png) no-repeat 95% 0;

}

.tabPanels .accordion-toggle.collapsed {

	background: url(../images/large/flecha_down.png) no-repeat 95% 0;

}

.prdgallery {

	float: left;

}

.main-vertical-body.row-fluid {

	overflow: hidden;

	padding-left: 15px;

}

#panelOufitsProducto {

	width: 100%;

	margin-top: 2em;

	border-top: 1px solid #ccc;

	overflow: hidden;

}

#panelOufitsProducto ul {

	width: 100%;

	clear: both;

	margin-top: 20px;

	padding: 0px 15px;

	box-sizing: border-box;

	text-align: center;

}

#panelOufitsProducto ul li {

	width: 247px;

	display: inline-block;

	margin-left: .3%;

	text-align: center;

	float: left; /* border: 1px solid #000 ;*/

	margin-bottom: 10px;

}

#panelOufitsProducto ul li:first-child { /* margin-left:0; */

}

#panelOufitsProducto ul li h2 {

	font-size: 15px;

	font-weight: normal;

	line-height: 20px;

	margin: 0;

	overflow: hidden;

	text-overflow: ellipsis;

	white-space: nowrap;

	padding-top: 10px;
	color:rgb(83, 62, 23);

}

#panelOufitsProducto .prdPrc {

	font-size: 16px;

	margin-top: 5px;
	color:rgb(83, 62, 23);

}

#panelOufitsProducto h3 {font-size: 17px;	text-transform: uppercase;	margin: 10px 0px 0;	width: 100%;	display: block;color:rgb(83, 62, 23);}

#panelOufitsProducto ul li .prdImage, #panelOufitsProducto ul li .prdImage img { /*width:100%;*/

	max-width: 227px;

}

.detailsPageTop #barraOrdenacion {

	font-size: 13px;

}

.headerInnerpage .mainMenu {

	padding-bottom: 0;

}

.headerInnerpage .mainMenu .navbar-nav > li > .dropdown-menu {

	margin-top: 0;

}

.prdgallery {

	width: 50%;

}

.catalog .scrollContainer .span4 {

	float: left;

	width: 30.533%;

}

/*======details page end=======*/



/*======inner page start=======*/



.innertop {

	width: 100%;

}

.innertop {

	padding: 0px;

	margin: 40px 0px;

	display: inline-block;

}

.innertop h1 {

	font-size: 30px;

	margin: 0px;

	padding: 0px 0px 20px 0px;

	color: #000;

	font-weight: bold;

}

.innertop p {

	font-size: 18px;

	margin: 0px;

	padding: 0px 0px 20px 0px;

	color: #000;

	line-height: 25px;

	text-align: justify;

}

.innerbotom {

	padding: 0px;

	margin: 0px;

	display: inline-block;

}

.innerbotom p {

	font-size: 14px;

	margin: 0px;

	padding: 0px 0px 20px 0px;

	color: #000;

	line-height: 20px;

	text-align: justify;

}

/*.innerColumn{ padding:0px; margin:0px 10px 0px 0px;}



*/



/*======inner page end=======*/



/*======product page start=======*/



.thumbnail {

	position: relative;

	overflow: hidden;

	border-radius: 0px;

	border: none;

	padding: 0px;

}

.caption {

	position: absolute;

	top: 0;

	right: 0;

	background: rgba(0, 0, 0, 0.1);

	width: 100%;

	height: 100%;

	padding: 2%;

	display: none;

	text-align: left;

	color: #fff !important;

	z-index: 2;

	cursor: pointer;

}

.captionInner {

	padding: 150px 100px;

	text-align: center;

}

.captionInner h4 {

	color: #FFF;

	font-size: 30px;

	padding-bottom: 10px;

	font-weight: bold;

}

.captionInner p {

	color: #CCC;

	font-size: 16px;

	font-weight: normal;

	line-height: 20px;

	text-align: center;

}

/*======product page end=======*/



/*======contact page start=======*/







.contactSection {

	padding: 0px;

	margin-top: 100px;

	overflow: hidden;

}

.contactSectionLeft {

	padding: 0px;

	margin: 0px 30px 0px;

}

.contactSectionLeft h1 {

	font-size: 30px;

	color: rgb(83,62,23);

	margin: 0px;

	padding: 0px 0px 10px 0px;

}

.contactSectionLeft p {

	border-bottom: 1px solid rgb(83,62,23);

	font-size: 14px;

	color: rgb(83,62,23);

	margin: 0px 0px 30px;

	padding: 0px 0px 20px 0px;

}

.contactSectionLeft .form-horizontal .control-label {

	text-align: left;

	color: rgb(83,62,23);

	font-size: 15px;

	font-weight: normal;
	line-height:16px;

}

.contactSectionLeft .form-control {

	border-radius: 0;

	border: 1px solid #b9bbbd;

}

.contactSectionright {

	padding: 0px;

	margin: 0px;

}

.googleMap {

	width: 100%;

	height: 500px;

	padding: 0;

	margin-bottom: 45px;

}

.googleMap iframe {

	width: 100%;

	height: 500px;

}

.contactSectionright h2 {

	font-size: 30px;

	color: #6d6e71;

}

.contactSectionright p {

	font-size: 16px;

	color: #6d6e71;

	line-height: 25px;

}

.send {
	float: right;
	background: rgb(79,57,20);
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 16px;
	margin-top: 10px;
	border:1px solid rgb(79,57,20);
}

.required {

	color: red;

}

.contactSectionLeft .btn-default:hover {

	color: #fff;

	background: #000;

}

.socialLinks ul li img {

	border-radius: 3px;

}

/*======contact page end=======*/



/*======added css start=====*/



/*-------------*/



#slide-panel {

	display: none;

}

#slide-panel {

	background: #eee none repeat scroll 0 0;

	float: left;

	height: 800px;

	left: 0;

	margin-left: -270px;

	max-width: 270px;

	padding: 0;

	position: fixed;

	top: 0;

	width: 300px;

	z-index: 9999;

	transition: transform 0.8s ease-in-out 0s;

}

#opener {

	border-radius: 0;

	float: left;

	/* margin: -10px -50px 0 0;*/



	position: relative;

	margin: 0 0 0 18px;

}

#opener.btn-danger {

	background: none;

	padding: 0;

}

.bodyContent .thumbnail > img, .bodyContent .thumbnail a > img {

	margin-left: 0;

}

.visible {

	transition: transform 0.5s ease-in-out 0s !important;

}

.capButtonArea {

	text-align: center;

}

.capButtonArea a{ color:#fff; padding:8px 15px; display:inline-block; margin:0px 5px; font-size:15px; border-radius:5px;}



.capButtonArea a {

	color: #fff;

	padding: 8px 15px;

	display: inline-block;

	margin: 0px 5px;

	font-size: 15px;

	border-radius: 5px;

}

.capButtonArea a.viewAll {

	background: gray;

}

.capButtonArea a.addTocart {

	background: rgb(79,57,20);

}

.product__page .captionInner {

	padding: 0;

}

.capButtonArea {

	display: block;

	margin-top: 120%;

	text-align: center;

	width: 100%;

}

.capButtonArea a:hover {

	background: #ccc;

	color: #000;

}

.currencyBox select {

	color: #000;

}

.s-hidden {

	visibility: hidden;

	padding-right: 10px;

}

.currencyBox .select {

	background: #ab783e none repeat scroll 0 0;

	border: 0;

	color: #fff;

	cursor: pointer;

	display: inline-block;

	height: 27px;

	position: relative;

	text-align: center;

	width: 230px;

}

.styledSelect {

	position: absolute;

	top: 3px;

	right: 0;

	bottom: 0;

	left: 0;

	background-color: #ab783e;

	padding: 0 10px;

	font-weight: normal;

}

.styledSelect:after {

	content: "";

	width: 30px;

	height: 20px;

	/* border:5px solid transparent;*/



	border-color: black transparent transparent transparent;

	position: absolute;

	top: 0px;

	right: 6px;

	background: url(../images/large/dropdown.jpg) no-repeat;

}

.styledSelect:active, .styledSelect.active {

	background-color: #ab783e;

}

.currencyBox .options {

	display: none !important;

	position: absolute;

	top: 100%;

	right: 0;

	left: 0;

	z-index: 999;

	margin: 0 0;

	padding: 0 0;

	list-style: none;

	border: 0;

	background-color: #ab783e;

	color: #fff;

}

.currencyBox .options.optionActive {

	display: block !important;

}

.options li {

	padding: 0 6px;

	margin: 0 0;

	padding: 0 10px 5px;

}

.options li:hover {

	background-color: #39f;

	color: white;

}

.product-details-page-img-layer {

	background: rgba(255, 255, 255, 0.34) none repeat scroll 0 0;

	bottom: 0;

	color: #424a4d;

	font-size: 14px;

	height: 25%;

	position: absolute;

	text-align: center;

	width: 100%;

}

.product-details-page-img-layer a {

	color: #000;

}

.product-details-page-img-layer h4 {

	color: #000;

	font-size: 30px;

	font-weight: bold;

	padding: 35px 100px;

}

/*======added css end=====*/



.logArea {

	width: 100%;

	text-align: center; /* margin-top:-30px; */

}

.logArea img {

	display: inline-block;

	width: 100px;

}

.mainMenu {

	padding-top: 0;

	float: right;

	text-align:right;

}

.headerInnerpage .mainMenu {

	padding-top: 20px;

}

.headerFix .headerBottom {

	padding-top: 10px;

}

.main-static-page {

	float: left;

	margin-top: 2px;

	width: 100%;

" display: inline-block;

	margin: 40px 0;

	padding: 0;

}

.main-static-page h2 {

	color: #000000;

	font-size: 26px;

	font-weight: 700;

	line-height: 35px;

	margin: 0;

	text-transform: uppercase;

}

.static_content_container {

	float: left;

	display: inline-block;

	margin: 40px 0;

	padding: 0;

	width: 100%;

}

.product-thumb img{ cursor:pointer; }



.static_content_container_img {

	margin: 0 25%;

}

.static_content_container_img {

	margin-top: 2%;

}

.margin-top10 {

	margin-top: 10px;

}

#menu-background {

	background: #fff;

	border-bottom: 1px solid rgb(233, 232, 229);

}

.padding-top10 {

	padding-top: 10px;

}

.menu_search_text_field {

	font-size: 15px;

	color: #fff;

}

.ourServies {

	margin-top: 20px;

	margin-bottom: 20px;

	cursor: pointer;

}

.social p a i {

	margin-left: 6px;

	margin-right: 6px;

	margin-top: 20px;

}

.service-box:hover img {

	transform: scale(1.1, 1.1);

}

.letsMake {

	margin-bottom: 30px;

}

.letsMakeContent .bwi-content-block {

	background: #f34c49;

	color: #fff;

	overflow: hidden;

	padding: 9.5% 6.5%;

}

.letsMakeContent h2 {

	color: hsl(0, 0%, 100%);

	text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.25);

	font-size: 45px;

	line-height: 54px;

	font-weight: bold;

	margin-top: 0;

	margin-bottom: 20px;

}

.letsMakeContent p {

	color: #fff;

	margin-bottom: 20px;

}

.letsMakeBanner {

	overflow: hidden;

}

.letsMakeBanner img {

	/*height: 100%;*/

	transition: all 0.2s linear 0s;

	-moz-transition: all 0.2s linear 0s;

	-webkit-transition: all 0.2s linear 0s;

	-o-transition: all 0.2s linear 0s;

	-ms-transition: all 0.2s linear 0s;

	width: 100%;

}

.letsMakeBannerInner {

	overflow: hidden;

	height: auto;

}

/* .letsMakeBanner:hover img {

	transform: scale(1.1, 1.1);

	-moz-transform: scale(1.1, 1.1);

	-webkit-transform: scale(1.1, 1.1);

	-o-transform: scale(1.1, 1.1);

	-ms-transform: scale(1.1, 1.1);

} */

.social-media a:hover {

	-ms-transform: rotate(360deg); /* IE 9 */

	-webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */

	transform: rotate(360deg);

}

.navbar {

	min-height : 0;

}

.nav>li>a {

	padding-bottom: 0px !important;
    padding-top: 10px !important;
}

/*======cart page start=======*/

#cartStep1 { padding: 0; margin: 0; background:#rgb(255,255,255)}


.cartStepHead::after {
    border-color: rgb(79,57,20) rgb(79,57,20) transparent transparent;
    border-width: 6px 1px 0 8px;
    content: " ";
    height: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 0;
}

.cartStepHead {

	background: rgb(79, 57, 20) ;
    margin: 0 10px 0 -8px;
    padding: 10px;
    position: relative;
    width: 100.8%;

}

.cartStepHead h3 {

	color: #fff;

	text-transform: uppercase;

	font-size: 15px;

	display: inline-block;

	margin: 0;

}

.cartStepHead h3 span {text-transform: none;}
.cartStepHead h3 strong{  font-weight: normal; margin-left: 15%; text-align: center; text-transform: lowercase;}
.cartStepBody { background: #fff;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 40px 9px;}
.cartStepHeadClose{  padding: 10px; position: relative; width: 100%;}
.cartStepHeadClose h3 { color: gray; text-transform: uppercase;font-size: 15px;display: inline-block;margin: 0;}
.item_box{  box-shadow: 0 5px 15px #888; z-index: 9; }
.payment-box { box-shadow: 0 5px 15px #aaa; padding: 10px 5px 10px 8px;}
.cartStepHeadClose h3 span {text-transform: none;}
.cartStepHeadClose h3 strong{  font-weight: normal; margin-left: 15%; text-align: center; text-transform: lowercase;}


#cartStep1 h3 {text-transform: none;  margin-left: 30px;}
#cartStep1 h3 strong{  font-weight: normal; margin-left: 15%; text-align: center; text-transform: lowercase;}
.tick::before {
    content: "✓";
}
.tick::after {
    border-color: rgb(79,57,20) rgb(79,57,20) transparent transparent;
    border-style: solid;
    border-width: 6px 0 0 7px;
    content: " ";
    height: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 0;
}
.tick {
    background-color: rgb(79,57,20);
    color: #fff;
    display: inline-block;
    margin:0 10px -13px -8px;
    padding: 6px 15px 6px 12px;
    position: relative;
    width: 1%;
	top:-18px;
}

.cartContent {

	width: 90%;
	margin: 0px auto;

}

.logAs {

	font-size: 15px;

	color: #000;

	margin-bottom: 15px;

}

.logAlert {

	background: #fefadd;

	padding: 8px 15px;

	width: 100%;

	box-sizing: border-box;

	border: 1px solid #d4d7a4;

	color: #000;

	font-size: 13px;

	margin-bottom: 20px;

}

.cartAccButtonArea {

	width: 100%;

}

.cartAccButtonArea .cartSignout {

	background: rgb(79,57,20) none repeat scroll 0 0;

	color: #fff;

	font-size: 18px;

	padding: 8px 15px;

	font-weight: normal;

	text-transform: uppercase;

	display: inline-block;

	margin-right: 25px;

}

.cartAccButtonArea .continueShoping {

	font-size: 16px;

	color: #444;

	text-decoration: underline;

	display: inline-block;

}

.cartAccButtonArea .continueShoping:hover {

	color: #000;

}

.cartAccButtonArea .cartSignout:hover {

	background: #000;

}

.mypoup h4 {

	font-size: 25px;

	color: #000;

}

.mypoup .modal-body label {

	width: 30%;

	margin-right: 2%;

	display: inline-block;

	vertical-align: top;

	color: #6d6e71;

	font-size: 17px;

	font-weight: normal;

}

.mypoup .modal-body .inputBox {

	width: 65%;

	display: inline-block;

}

.popFormSubmit {

	width: 100%;

	text-align: center;

}

.popFormSubmitBtn, .shpConti {

	background: rgb(79,57,20);

	color: #fff;

	display: inline-block;

	font-size: 18px;

	font-weight: normal;

	margin-right: 25px;

	padding: 8px 15px;

	margin-top: 20px;

	text-transform: uppercase;

	border: none;

	outline: none;

	border-radius: 0;

}
.popFormSubmitBtn, .place-order {

	background: rgb(81,60,23) ;

	color: #fff;

	display: inline-block;

	font-size: 16px;

	font-weight: normal;

	margin-right: 25px;

	padding: 8px 15px;

	margin-top: 20px;

	text-transform: uppercase;

	border: none;

	outline: none;

	border-radius: 0;

}

.popFormSubmitBtn:hover, .shpConti:hover {

	color: #a9a9a9;

	background: rgb(79,57,20);

}
.popFormSubmitBtn:hover, .place-order:hover {

	color: #fff;

	background: rgb(81,60,23);

}
.mypoup .modal-body {

	padding: 15px;

}

.mypoup button.close {
	background: transparent none repeat scroll 0 0;
    border-radius: 100%;
    color: gray;
    cursor: pointer;
    margin-right: 1px;
    margin-top: 0;
    opacity: 1;
    padding: 5px;
    position: absolute;
    right: 0;
    z-index: 9;
}

.mypoup .form-control {

	border: 1px solid #b9bbbd;

	border-radius: 0;

}

.mypoup .input-group-addon {

	border-radius: 0;

}

.deleveryAddress {

	width: 340px;

	position: relative;

	padding:19px;

	box-sizing: border-box;

	border: 1px solid #ccc;

	display: block;

}

.delvAddHead {

	width: 100%;

	clear: both;

	border-bottom: 1px solid #ccc;

	padding-bottom: 12px;

}

.delvAddHead h4 {

	font-size: 20px;

	font-weight: normal;

	color: #000;

	margin-top: 20px;

}

.shpAddress {

	padding: 10px 0;

}

.shpAddress p {

	font-size: 14px;

	color: #000;

	padding-bottom: 0;

}

.phoneNumber {

	padding: 10px;

	font-size: 14px;

	color: #000;

	border-top: 1px solid #ccc;

	border-bottom: 1px solid #ccc;

}

.shpContiArea {

	text-align: center;

	width: 100%;

	border-bottom: 1px solid #ccc;

	padding-bottom: 20px;

	padding-top: 10px;

}

.shpConti {

	display: block;

	font-size: 16px;

	margin-right: 0;

	width: 100%;

}

.deleveryAddArea {

	width: 340px;
	position: relative;
	margin:7px;
	float:left;

}

.addressEditArea {

	position: absolute;

	top: 20px;

	right: 20px;

}

.addressEditArea ul li {

	display: inline-block;

	padding: 0px 5px;

}

.addressEditArea ul li a:hover img {

	opacity: 0.5;

}

.greenRibbon {

	position: absolute;

	top: 0;

	left: 0;

}

.ShpCartCnt p img {

	width: 20px;

	display: inline-block;

	margin-top: 10px;

}

.prdcartHeading, .cartColor, .prdDesc, .deliveryDat {

	font-size: 14px;

	color: #444;

	margin-bottom: 10px;

}
.prdDesc b {margin-right:10px}
.ShpCartCnt p {

	font-size: 14px;

}

.cartTable .table-responsive th.itemTbl {

	width: 20%;

}

.cartTable .table-responsive table {

	border: 1px solid #ccc;

	text-align: center;

}

.cartTable .table-responsive table th {

	background: #f1f1f1;

	border: 1px solid #ccc;

	text-align: center;

	font-weight: normal;

}

.cartTable .table-responsive table td {

	border: 1px solid #ccc;

}

.qtyBox {

	background: #fff;

	border: 1px solid#ccc;

	text-align: center;

	width: 50px;

}

.cartTable .table-responsive .delItem {

	display: inline-block;

}

.orderConfirmationAlert {

	width: 100%;

	border-top: 1px solid #ccc;

	border-bottom: 1px solid #ccc;

	margin-top: 20px;

	padding: 10px 0;

}

.alertMobNumber {
	width: 130px;
	line-height: 30px;
	border: 1px solid #ccc;
	margin-left: 8px;
	text-align: center;
}

.continuePayAmount {

	width: 100%;

	padding: 20px 0 0;

}

.totalAmountPurChs {

	text-align: right;

	display: inline-block;

	float: right !important;

	font-weight: normal;

}

.totalAmountPurChs strong {

	font-size: 25px;

	font-weight: normal;

}
.total_savings {

	float: right;
    font-size: 15px;
    font-weight: normal;
    margin-right: 10px;
    margin-top: 24px;
    text-align: right;

}

.continuePayAmount .shpConti {

	width: auto;

	display: inline-block;

	margin-top: 0;

}

/*======cart page end=======*/

/*======login page start=======*/

.logSec {

	overflow: hidden;

}

.logformSEc {

	width: 100%;

	float: left;

	/*background: url(../images/large/orborder.jpg) no-repeat right center;*/

	padding-right: 50px;

	box-sizing: border-box;

}

#loginpopup .modal-dialog {

	width: 500px;

}
#Signuppopup .modal-dialog {

	width: 820px;

}
#loginpopup .modal-content, #Signuppopup .modal-content {

	background: #f9f9f9;

}

.poplogSubmitBtn {

	background: rgb(83, 62, 23) none repeat scroll 0 0;

	border: medium none;

	border-radius: 0;

	color: #fff;

	display: inline-block;

	font-size: 18px;

	font-weight: normal;

	margin-right: 25px;

	margin-top: 20px;

	outline: medium none;

	padding: 8px 15px;

	float: left;

	text-transform: uppercase;

}

.poplogSubmitBtn:hover {

	background: gray;

	color: #fff;

}

.forgotPass {

	margin-top: 35px;

	float: left;
	color:rgb(83, 62, 23);

}

.forgotPass:hover {

	color: #ffc20f;

}

.newUser {

	width: 100%;

	padding: 20px 0;


}

.newHere {

	text-transform: uppercase;

	display: inline-block;

	margin-right: 10px;

	font-size: 13px;
	color:rgb(83, 62, 23);
}

.logPopSignUp {

	display: inline-block;

	text-transform: uppercase;

	font-size: 13px;
	color: rgb(83, 62, 23);

}

.logPopupSubmit {

	overflow: hidden;

}

.logPopSignUp:hover {

	color: #ffc20f;

}

.logoPopSignUpSec {

	float: left;

	width: 40%;

	box-sizing: border-box;

	padding: 30px;

}

.loginWithgooglePlus, .loginWithFb {

	text-align: center;

	margin-top: 20px;

}

.loginWithFb a, .loginWithgooglePlus a {

	display: inline-block;

}

#loginpopup.mypoup .form-control {

	width: 100%;

}

.mypoup .modal-content {

	border-radius: 0;

}

.logSgnUp .logformSEc {

	background: rgba(0, 0, 0, 0) url("../images/large/signUpborder.png") no-repeat scroll right center;

	width: 50%;

}

.logSgnUp .logoPopSignUpSec {

	width: 50%;

}

.logSgnUp .poplogSubmitBtn {

	margin-top: 0;

}

/*-------------*/

.enagage-social-div .engage-icons {

	background: rgba(0, 0, 0, 0) url("../images/large/sprite-verification-6e57d5ae.png") repeat scroll 0 0;

	height: 30px;

	width: 40px;

}

.enagage-social-div .manage-orders-icon {

	background-position: -5px -71px;

}

.fk-font-14 {

	font-size: 14px;

}

.fk-font-12 {

	font-size: 12px;

}

.fk-inline-block {

	display: inline-block;

}

.lmargin10 {

	margin-left: 10px;

}

.line, .lastUnit {

	overflow: hidden;

}

.tmargin30 {

	margin-top: 30px;

}

.enagage-social-div .informed-decisions-icon {

	background-position: 0 -116px;

}

.bpadding5 {

	padding-bottom: 5px;

}

.fk-text-center {

	text-align: center;

}

.enagage-social-div .enagage-socially-icon {

	background-position: 0 -37px;

}

.innertop .logoPopSignUpSec p {

	padding-bottom: 0;

}

#Signuppopup.mypoup h4, #loginpopup.mypoup h4, .finalAccountPage h4 {

	color: rgb(83, 62, 23);

	font-size: 25px;

	margin-bottom: 25px;

}

/*======login page end=======*/

/*======finalaccount page start=======*/

.finalAccountPage {

	overflow: hidden;

}

.finalaccLeft {

	background: rgba(0, 0, 0, 0) url("../images/large/line-divider-fdaf8dde.png") no-repeat scroll right center;

	width: 30%;

	float: left;

	padding-right: 30px;

	box-sizing: border-box;

}

.finalaccLeftTop {

	border-bottom: 1px solid #ccc;

	padding-bottom: 10px;

	margin-bottom: 25px;

}

.finalaccLeftTop h5, .finalaccLeftBottom h5 {

	margin-bottom: 15px;

	font-size: 20px;

	color: #444;

	text-transform: uppercase;

}

.finalaccLeftBottom h6 {

	font-size: 16px;

	font-weight: bold;

}

.finalaccLeftBottom ul {

	padding: 0;

	margin: 0;

}

.finalaccLeftBottom ul li {

	width: 100%;

	clear: both;

	display: block;

	margin-bottom: 7px;
	    line-height: 25px;

}

.finalaccLeftBottom ul li a {

	font-size: 15px;

	color: #000;

}

.finalaccLeftBottom ul li a:hover, .finalaccLeftBottom ul li.active a {

	font-weight: bold;

}

.finalaccRight {

	width: 70%;

	float: left;

	padding: 30px;

	box-sizing: border-box;

}

.finalaccTabContent label {

	color: #6d6e71;

	display: inline-block;

	font-size: 17px;

	font-weight: normal;

	margin-right: 2%;

	vertical-align: top;

	width: 30%;

}

.finalaccTabContent .inputBox {

	display: inline-block;

	width: 65%;

}

.finalaccTabContent .form-control {

	border: 1px solid #b9bbbd;

	border-radius: 0;

}

.finalaccTabContent .inputBox select {

	width: 155px;

}

.finalaccTabContent .popFormSubmitBtn {

	margin-left: 32%;

	display: inherit;

}

/*======finalaccount page page end=======*/

.paymentLeftTab {

	width: 20%;

	float: left;

}

.paymentMethod .row1:after {

	content: "";

	display: block;

	clear: both;

}

.cartStepPaymentBody {

	padding: 0;
	float: left;
    width: 100%;

}

/*=====================*/



/*  bhoechie tab */

div.bhoechie-tab-container {

	z-index: 10;

	background-color: #ffffff;

	padding: 0 !important;

	border-radius: 0px;

	-moz-border-radius: 0px;

	border: 0;

	margin-top: 0px;

	margin-left: 0px;

	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);

	box-shadow: 0 6px 12px rgba(0,0,0,.175);

	-moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);

	background-clip: padding-box;

	opacity: 0.97;

	filter: alpha(opacity=97);

}

div.bhoechie-tab-menu {

	padding-right: 0;

	padding-left: 0;

	padding-bottom: 0;

}

div.bhoechie-tab-menu div.list-group {

	margin-bottom: 0;

}

div.bhoechie-tab-menu div.list-group>a {

	margin-bottom: 0;

}

div.bhoechie-tab-menu div.list-group>a .glyphicon, div.bhoechie-tab-menu div.list-group>a .fa {

	color: #666;

}

div.bhoechie-tab-menu div.list-group>a:first-child {

	border-top-right-radius: 0;

	-moz-border-top-right-radius: 0;

}

div.bhoechie-tab-menu div.list-group>a:last-child {

	border-bottom-right-radius: 0;

	-moz-border-bottom-right-radius: 0;

}

div.bhoechie-tab-menu div.list-group>a.active, div.bhoechie-tab-menu div.list-group>a.active .glyphicon, div.bhoechie-tab-menu div.list-group>a.active .fa {

	background-color: rgb(79,57,20);

	background-image: rgb(79,57,20);

	color: #ffffff;

	border-color: rgb(79,57,20);

}

div.bhoechie-tab-menu div.list-group>a.active:after {

	content: '';

	position: absolute;

	left: 100%;

	top: 50%;

	margin-top: -13px;

	border-left: 0;

	border-bottom: 13px solid transparent;

	border-top: 13px solid transparent;

	border-left: 10px solid rgb(79,57,20);

}

div.bhoechie-tab-content {

	background-color: #ffffff;

	/* border: 1px solid #eeeeee; */

	padding-left: 20px;

	padding-top: 0px;

}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {

	display: none;

}

.paymentMethod .list-group-item {

	border-radius: 0;

}

.paymentMethod .list-group-item h4 {

	padding-right: 12px;

}

.bhoechie-tab-contentInner {

	width: 100%;

}

.paymentMethod .paymentHeader {

	margin: 0 10px 20px;

	border-bottom: dashed 1px #e6e6e6;

	color: #848484;

	padding: 10px 0 10px 0px;

	font-size: 14px;

	text-align: center;

}

.paymentMethod .card-logo {

	display: inline;

}

.card-logo li {

	background: url('../images/large/card-small-34fc0f17.png') 0 0 no-repeat;

	height: 26px;

	width: 40px;

	vertical-align: middle;

	display: inline-block;

	zoom: 1;

}

.card-logo li.visa {

	background-position: -42px -1px;

}

.card-logo li.master {

	background-position: -82px -1px;

}

.card-logo li.amex {

	background-position: -124px -1px;

}

.card-logo li.diners {

	background-position: -166px -1px;

	width: 34px;

}

.card-logo li.discover {

	background-position: -202px -1px;

}

.creditCardLeft {

	box-sizing: border-box;

	margin: 0px 50px;

}

.bhoechie-tab {

	padding-right: 0;

}

.creditcardForm {

	background: #f2f2f2 none repeat scroll 0 0;

	border-radius: 10px;

	margin: 20px 0;

	padding: 20px;

	width: 100%

}
.creditcardForm-wrapper{  margin: 0 auto; width: 90%;}
.date-lbl-wr {

	float: left;

	width: 40%;

	padding-top: 15px;

	margin-left: 10px;

	color: #6d6d6d;

	font-size: 13px;

	text-align: left;

	line-height: 100%;

}

.card-face .txt-el-wr {

	border-radius: 5px;

	margin-bottom: 10px;

}

.cvv-txt-wr {

	width: 35px;

	float: left;

}

.txt-el-wr {

	position: relative;

	width: 340px;

	/* padding: 10px;

    border: 1px solid #b8b8b8;*/

	background: #fff;

}

.dis-inl-bk {

	display: inline-block;

}

.cvv-txt-wr .frm-el-tx {

	width: 35px;

}

.txt-el-wr .plc-hd, .txt-el-wr .plc-hd-at {

	position: relative;

	z-index: 10;

	background: transparent url(../images/large/all.png) no-repeat -10000px 11px;

}

.cvv-logo-wr {

	float: left;

	padding-top: 2px;

}

.cus-tooltip {

	position: relative;

	cursor: pointer;

}

.dis-inl-bk {

	display: inline-block;

}

.exp-cvv-wr {

	position: relative;

	z-index: 20;

}

.card-face .txt-el-wr {

	border-radius: 5px;

	margin-bottom: 10px;

}

.exp-dt-wr {

	float: left;

	width: 80px;

	border: none;

}

.cvv-wr {

	float: right;

}

.dis-inl-bk {

	display: inline-block;

}

.cvv-logo {

	width: 61px;

	height: 36px;

	margin-left: 5px;

	background: #ededed url(../images/large/all.png) no-repeat -199px 0;

}

.cvv-inn-wr {

	float: right;

	width: 142px;

}

.cvv-inn-wrInpt {

	display: inline-block;

	float: left;

	width: 70px;

}

.cus-tooltip {

	float: left;

	width: 70px;

}

.creditcardForm #cardNumb {

	position: relative;

	z-index: 10;

	background: #fff url(../images/large/cardNo.png) no-repeat 95% 3px;

}

.creditCardLeft .form-control {

	height: 40px;

}

.creditFormSubmitSend {

	width: 100%;

	margin-left: 0;

}

/*==========================================================================*/

.creditCardRight {

	float: left;

	width: 100%;

	height: 200px;

	margin: 0px;

	padding: 0px;

}

.paymentTop {

	background-color: #f2f2f2;

	border-bottom: 1px solid #e6e6e6;

	box-sizing: border-box;

	padding: 10px 10px 35px 15px;

	border-left: 1px solid #e6e6e6;

}

.paymentTop p.text_left {

	text-align: left;

	width: 50%;

	float: left;

}

.paymentTop p.text_right {

	text-align: right;

	width: 50%;

	float: right;

}

.paymentBottom {

	background: #f9f9f9 none repeat scroll 0 0;

	border-bottom: 1px solid #e6e6e6;

	font: 19px arial, sans-serif;

	padding: 15px 10px 15px 15px;

	text-align: right;

	border-left: 1px solid #e6e6e6;

}

.paymentBottom h2 {

	color: #333;

	line-height: 40px;

	font-size: 20px;

	text-align: right;

}

.paymentBottom p {

	color: #ea6a6a;

	line-height: 27px;

	font-size: 18px;

	text-align: right;

}
ul.boxBotomIcon {
	margin: 20px 0px;
	display: block;
	overflow: hidden;
	padding: 33px;
}
ul.boxBotomIcon li {
	float: left;
	padding: 0px;
	margin: 0px;
	border-right: 1px solid #CCC;
	display: inline;
	padding: 0px 12px;
}
ul.boxBotomIcon li a {
	text-decoration: none;
}
ul.boxBotomIcon li:last-child {
	border-right: none;
}
/*=============================================================================*/

.textBox {

	background: #fffed5 none repeat scroll 0 0;

	border: 1px solid #f9e2b2;

	color: #000;

	font-size: 12px;

	line-height: 1.5;

	margin: 20px 0px;

	padding: 10px;

	width: 100%;

}

/*=========================cod=====================================================*/

.codBox {

	background: #FFF none repeat scroll 0 0;

	border: 1px solid #333;

	display: block;

	margin: 30px;

	height: auto;

	overflow: hidden;

}

.codBoxLeft {

	width: 50%;

	float: left;

	text-align: left;

	padding: 20px 20px;

}

.codBoxLeftTop {

	display: block;

	margin-bottom: 20px;

}

.codBoxLeftButm {

	display: block;

}

.codBoxRight {

	width: 50%;

	float: right;

	background: #f9f9f9;

	text-align: left;

	padding: 30px 20px;

	height: auto;

}

.codBoxRight h2 {

	font-size: 20px;

	color: #000;

	font-weight: bold;

	margin: 0px;

	padding: 0px;

}

.codBoxRight p {

	line-height: 20px;

	font-size: 14px;

	font-weight: normal;

	color: #333;

	margin: 0px;

	padding: 12px 0px;

}

.codBoxRight::before {

	background: url(../images/large/bigarrw.jpg) top left no-repeat;

	display: block;

	content: " "

}

.codButm {

	float: left;

	margin-bottom: 30px;

	margin-left: 30px;

	padding: 6px 50px;

	font-size: 20px;

	color: #000;

	background: #ffc20f;

	text-transform: uppercase;

	border-radius: 0;

	border: none;

}

.codButm2 {

	float: left;

	margin-bottom: 30px;

	padding: 6px 50px;

	font-size: 20px;

	color: #000;

	background: #ffc20f;

	text-transform: uppercase;

	border: none;

	border-radius: 0;

}

.codButm:hover, .codButm2:hover, .apply:hover {

	background: #f8ce53;

}

/*==========================giftcard=======================================================*/

.giftcartRow {

	margin: 20px 0px;

	border-bottom: 1px dashed #999999;

	padding-bottom: 20px;

	overflow: hidden;

}

.giftcartRow h2 {

	font-size: 20px;

	font-weight: bold;

	color: #000;

	text-align: left;

	padding: 0px;

}

.giftcartRowBox {

	float: left;

	width: 33%;

	padding-right: 20px;

}

.textBox {

	width: 100%;

	margin: 0px;

	padding: 10px 4px;

	border: 1px solid #CCC;

	border-radius: 2px;

	background: #FFF;

}

.apply {

	background: #ffc20f;

	margin: 0px;

	padding: 9px 20px;

	width: 100%;

	text-transform: uppercase;

}

/*==================================================================================*/

/*================*/



.bankList ul li {

	background-color: #f9f9f9;

	border: 2px solid #e6e6e6;

	cursor: pointer;

	float: left;

	height: 50px;

	margin: 5px;

	overflow: hidden;

	padding: 5px 10px;

	position: relative;

	width: 47%;

}

.bank-name-wr {

	background: transparent url("../images/large/net_bank_logos.png") no-repeat scroll 0 0;

	border: 2px solid transparent;

	height: 32px;

	left: 22px;

	margin: 10px 1%;

	position: relative;

	top: -36px;

	width: 124px;

}

.bank-name-wr.KOTAK {

	background-position: -2px -160px;

}

.bank-name-wr.AXIS {

	background-position: 0 -129px;

}

.bank-name-wr.SBI {

	background-position: -1px 0;

}

.bank-name-wr.CITIBANK {

	background-position: 0 -34px;

}

.bank-name-wr.ICICI {

	background-position: -1px -99px;

}

.bank-name-wr.HDFC {

	background-position: 0 -65px;

}

/*================*/



.bankList label {

	display: inline-block;

	cursor: pointer;

	position: relative;

	padding-left: 25px;

	margin-right: 15px;

	font-size: 13px;

}

.bankList input[type=radio], .bankList input[type=checkbox] {

	display: none;

}

.bankList label:before {

	content: "";

	display: inline-block;

	width: 16px;

	height: 16px;

	margin-right: 10px;

	position: absolute;

	left: 0;

	bottom: 1px;

	background-color: #ffc20f;

	top: 7px;

}

.bankList label:before {

	border-radius: 8px;

}

.bankList label {

	margin-bottom: 10px;

}

.bankList input[type=radio]:checked + label:before {

	content: "\2022";

	color: #fff;

	font-size: 15px;

	text-align: center;

	line-height: 14px;

}

.bankList input[type=checkbox]:checked + label:before {

	content: "\2713";

	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);

	font-size: 15px;

	color: #fff;

	text-align: center;

	line-height: 14px;

}

/*------------------------*/

.bhoechie-tab-menu, .cartGrandtotal {

	background: #f2f2f2;

	padding-left: 0;

	padding-right: 0;

}

.bankList {

	overflow: hidden;

}

.allBanks {

	margin-top: 20px;

	overflow: hidden;

}

.allBanks label {

	float: left;

	width: auto;

	margin-right: 10px;

	padding-top: 7px;
	font-weight: 400;

}

.allBanks .form-control {

	border-radius: 0;

	width: 50%;

	float: left;

}

.netBankingArea h5 {

	width: 100%;

	clear: both;

	margin: 20px 0;

}

.netBnkk {

	width: 100%;

	margin: 0px auto;

	float: none;

}

.netbankSub {

	display: block;

	margin-top: 20px;

	overflow: hidden;

	width: 100%;

}

.allBanks .form-group {

	overflow: hidden;

}

.paymentMethod .list-group-item h4.icon {

	width: 18px;

	background: url('../images/large/payment_modes-de0285ce.png') no-repeat 0 0;

	vertical-align: middle;

	display: inline-block;

	zoom: 1;

	height: 20px;

	padding-left: 13px;

}

.paymentMethod .list-group-item h4.icon.CreditCardPm {

	background-position: 0 -63px;

	height: 13px;

}

.paymentMethod .list-group-item.active h4.icon.CreditCardPm {

	background-position: 0 -160px;

}

.paymentMethod .list-group-item h4.icon.NetBankingPm {

	background-position: 0 -38px;

	height: 24px

}

.paymentMethod .list-group-item.active h4.icon.NetBankingPm {

	background-position: 0 -135px;

}

.paymentMethod .list-group-item h4.icon.CreditCardEmiPm {

	background-position: 0 -78px;

	height: 18px

}

.paymentMethod .list-group-item.active h4.icon.CreditCardEmiPm {

	background-position: 0 -175px;

}

.paymentMethod .list-group-item h4.icon.DebitCardPm {

	background-position: 0 -63px;

	height: 13px;

}

.paymentMethod .list-group-item.active h4.icon.DebitCardPm {

	background-position: 0 -160px;

}

/*.paymentMethod .list-group-item h4.icon.CodPm{   background-position:0 -63px; height:13px;}*/

.paymentMethod .list-group-item.active h4.icon.CodPm {

	background-position: 0 -19px;

}

.paymentMethod .list-group-item h4.icon.GiftCardPm {

	background-position: 0 -97px;

	height: 13px;

}

.paymentMethod .list-group-item.active h4.icon.GiftCardPm {

	background-position: 0 -194px;

}

.paymentMethod .list-group-item {

	background: #f2f2f2;

}

.paymentMethod .send {

	background:rgb(79,57,20);

	border: medium none;

	border-radius: 0;

	color: #fff;

	float: left;

	font-size: 20px;

	margin-bottom: 30px;

	padding: 6px 50px;

	text-transform: uppercase;

}

.paymentMethod .send:hover, .codButm2:hover, .codButm:hover {

	background: rgb(79,57,20);

	color: #fff;

}

.giftRowWrap {

	padding-right: 15px;

}

.finalaccTabContent {

	margin-bottom: 20px;

}

/*====================================================================*/



.navbar-nav {

	/*padding: 12px 0 0 0;*/
	padding: 1px 0 0 0;

}

.footerMenu ul {

	margin: 0px auto;

	display: block;

	text-align: center;

}

.footerMenu ul li {

	display: inline-block;

}

.footerMenu ul li a {

	font-size: 16px;

	color: rgb(83, 62, 23);

	padding: 5px 15px;

}



/*======================================================*/



.review_wrapper {

	border-top: 1px solid #ddd;

	float: left;

	padding-top: 20px;

	width: 100%;

}

.review_wrapper h2 {

	color: rgb(83, 62, 23);;

	font-family: Muli, sans-serif;

	font-size: 19px;

	font-weight: 500;

	margin: 0;

	padding-bottom: 20px;

	text-align: left;

	text-transform: uppercase;

}

.review_wrapper .review_left {

	float: left;

	margin-bottom: 15px;

	padding-bottom: 10px;

	width: 100%;

}

.review_wrapper .review_inner_left {

	float: left;

	width: 100%;
	 border-bottom: 1px dotted #000;

}

.review_wrapper .review_inner_left h3 {

	color: #333;

	font-size: 18px;

	margin: 0;

}

.review_wrapper .review_inner_left h3 {

	font-weight: 700;

	text-align: left;

	line-height: 20px;

	padding: 10px 0px;

	font-size: 16px;
	color: rgb(83, 62, 23);

}
.review_wrapper .review_inner_left p {

	font-weight: 500;

	text-align: justify;

	line-height: 23px;

	padding: 10px 0px;

	font-size: 12px;
	color:rgb(83, 62, 23);

}

.rating_user_wrapper, .review_wrapper .review_inner_right {

	float: left;

	width: 100%;

}

.rating_listing, .rating_listing_img {

	float: left;

}


.absolute_top_two {

	float: left;

	margin: 0px;

	padding: 0px;

}

.review_right {

	float: left;

	text-align: center;

	width: 100%;

}

.review_right .big_star {

	background: rgba(0, 0, 0, 0) url(../images/star-xxl.png) no-repeat scroll center center;

	color: #fff;

	font-family: Muli, sans-serif;

	font-size: 14px;

	height: 100px;

	line-height: 100px;

	margin: auto;

	width: 100px;

}

.rating_user_wrapper h4 {

	color: rgb(83, 62, 23);

	font-family: Muli, sans-serif;

	font-weight: 500;

	margin-top: 5px;

	margin-bottom: 5px;

	text-align: left;

}

.rating_user_wrapper h5{

	color: rgb(83, 62, 23);

	font-family: Muli, sans-serif;

	font-weight: 500;

	margin-top: 5px;

	margin-bottom: 5px;

	text-align: left;

	font-size:14px;

}

.no-product{ text-align:center !important;}

/*========*/

.rating_listing_container {

	float: left;

	margin-bottom: 7px;

	width: 100%;

}

.rating_listing, .rating_listing_img {

	float: left;

}

.rating_listing span {

	line-height: 25px;

	padding-left: 0;

}

.address_co p, .contact_us_right p, .rating_listing span {

	color: rgb(83, 62, 23);

	font-family: Muli, sans-serif;

	font-size: 14px;

}



.review_listing a {

	color: rgb(83, 62, 23);

	font-family: Muli, sans-serif;

	font-size: 12px;

	line-height: 25px;

	text-transform: uppercase;

}

.review_listing a:hover {

	text-decoration: underline;

}

.review_listing {

	float: left;

	font-size: 12px;

	padding-left: 20px;

	padding-right: 20px;

}

.write_review_listing {

	float: left;

	font-size: 11px;

}

.write_review_listing a {

	color: rgb(83, 62, 23);

	font-family: Muli, sans-serif;

	font-size: 11px;

	line-height: 25px;

	text-decoration: none;

	text-transform: uppercase;

}

.write_review_listing a:hover {

	text-decoration: underline;

}

#myModal25 .modal-dialog {
	top: 10%;
}

.rate_r a {

    background: rgb(255, 158, 54) none repeat scroll 0 0;

    border-radius: 2px;

    line-height: 40px;

    text-decoration: none;

    text-transform: uppercase;

}

.continue_btn_new a, .rate_r a {

    color: rgb(255, 255, 255);

    font-size: 16px;

    padding: 7px 12px;

    text-align: center;

}

/*not_re {

    color: rgb(69, 69, 69);

    font-family: Muli,sans-serif;

    font-size: 14px;

    font-weight: 500;

    text-align: justify;

}*/

.review_wrapper .rate_r{ margin-top:20px;}

.modal{ z-index:2147483647 ;}

.modal-dialog{ top:10%;}

#login_model h4, #myModal25 h4{ font-size:25px;}

.modal .close{ opacity:0.7;}

.forgetPass { float:left; width:50%;}

.forgetPass a{ color: #d67a18;}

.uttonSub{ width:40%; float:right;}

.uttonSub .btn{background: #d67a18 none repeat scroll 0 0;

    border: medium none;

    padding: 7px 14px;  color: #fff;

    cursor: pointer;

    font-size: 14px;

    font-weight: 600;

    outline: 0 none;

	float:right;

    transition: all 0.4s ease-in-out 0s;}

	#login_model label{ color:#444; margin-bottom:8px;}

	#login_model  .modal-dialog{ max-width:400px;}

.menu_search {



  float: right;

  margin-top: 3px;
 margin-right: -17px;




}
.menu_search input{ height:29px; padding:3px 12px; float: right;}

.static_page {

    float: left;

    margin-bottom: 40px;

    padding-bottom: 40px;

    padding-top: 40px;

    width: 100%;

}

.static_one {

    float: left;

    width: 100%;

}

.static_one h2 {

    color: rgb(83, 62, 23);

    font-size: 25px;

    font-weight: 500;

    margin: 0;

    padding: 0;

    text-align: left;

    text-transform: uppercase;



}

.static_page_container {

    padding-bottom: 45px;
    width: 100%;

	min-height:600px;

}

.page_categories::after {

    content: "";

    display: block;

    height: 100%;

    margin-left: 2%;

    margin-top: -4px;

    width: 96%;

}

.page-details {

    float: left;

    padding-bottom: 15px;

}

.page-details p {

    text-align: justify;
	margin-bottom: 10px;
	 line-height: 30px;

}

.page-details p {

    color: rgb(83, 62, 23);
	font-size: 18px;
	margin-bottom:25px;

}

.padding-right3px{padding-right: 3px;}

#barraOrdenacion .active  {

    color: #000;

    cursor: no-drop;

    z-index: 100;

}
/*=====================*/
.tabVertically{ width:100%; margin-top:0;}
.tabVerticallyCnt p{ font-size: 16px;
font-weight: 500;
line-height: 25px;
padding: 0;
text-align: justify; color:rgb(83, 62, 23); min-height: 150px; margin-bottom:15px;}
.tabVertically .tabbable{  padding:20px; box-sizing:border-box; overflow:hidden;}
.tabVerticallyCnt { border-left:1px solid #ccc; padding-left:30px; box-sizing:border-box;}
.tabVertically .nav>li>a {
    background: rgb(83, 62, 23);
    border-radius: 0;
    color: #fff;
	text-align:center;
}
.tabVertically .nav>li>a:hover, .tabVertically .nav>li>a:visited, .tabVertically .nav>li>a:focus, .tabVertically .nav>li.active>a:hover, .tabVertically .nav>li.active>a:visited, .tabVertically .nav>li.active>a:focus, .tabVertically .nav>li.active>a{ background:#8d8d8d; color:#000;}
.tabVertically .tabVerticallyMenu { padding-right:20px;}
.static_pageAbt{ border:none;}
.margin-top-7 {margin-top:7px;}
.margin-bottom-7 {margin-bottom:7px;}
.header {z-index:9999;}
.medium-wrapper .big-preview-wrapper {width:100%; /* margin-left:25%; margin-top:45%; margin-bottom:5%; */}
#zoom-preview-pane{ /* z-inde:9999999999999; */}

.modal-header .modal-title{ text-align:center;}
.modal-header .modal-title img{ display:inline-block;}
#myModal25 .form-group label{ width:35%; float:left;}
#myModal25 .form-group .form-control{ width:60%; float:right;}
#myModal25 .form-group{ overflow:hidden;}
#myModal25 .form-group .btn-primary{ margin-left:40%; width:80px;}
.letsMakeBanner h3{ color: rgb(83, 62, 23);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 25px;
}

.letsMakeBannerInner > img {
    width: 100%;
}
.letsMakeBannerInner {
  padding-right: 15px;
  padding-left:15px;
}
.letsMakeBanner .letsMakeBannerInner {
  padding-right: 0px;
  padding-left:0;
}
.mainMenu .navbar-nav > li:last-child > a {
	padding-right:0;
}
.topNav{ margin-right:0; }
.topNav li:last-child{ padding-right:0;}


#search_result {
    position: absolute;
    right: 0;
    width: 100%;
}
.top_search_result_ul {
    border-bottom: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    max-height: 520px;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 29px;
    width: 93%;
    z-index: 99999;
	left:10px;
}
.top_search_result_ul > li {
    background: #fff none repeat scroll 0 0;
    color: #000;
    cursor: pointer;
    float: left;
    left: 0;
    list-style: outside none none;
    padding: 5px 0 3px 10px;
    position: relative;
    width: 100% !important;
    word-wrap: break-word;
	text-align:left;
	 line-height: 30px;
}
.top_search_result_ul li a {
    color: #533e17;
	font-size:14px;
}
.top_search_result_ul li a strong {
    color: #553F1C;
}

.menu_search i{
	position:relative;
	left:10px;
	top:5px;
}
.carousel-control{
	background:rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
	height: 43px;
    opacity: 0.8;
    top: 45%;
    width: 43px;
}
.carousel-control.left{
	left:2%;
}
.carousel-control.right {
    right: 2%;
}
.loading_text{  bottom: 0;
    font-size: 29px;
    left: 0;
    padding-top: 25%;
    right: 0;
    text-align: center;
    top: 0; color:#fff;}
#black-cover{position:fixed; left:0; top:0; width:100%; height:100%; background:#000; opacity:0.7; display:none; z-index:999999999;}
.product_active {color: #a9a9a9 !important; cursor:no-drop;}


.lazy.lazyloader {
    bottom: 0;
    left: 0;
    margin: auto !important;
    max-width: 100%;
    right: 0;
    text-align: center;
    top: 0;
    vertical-align: middle;
    width: auto !important;
}
.tabbable ul li a {
    padding-bottom: 10px !important;
}
.serviceAll h2{text-align: center; margin-bottom: 20px; font-size: 18px; font-weight: normal; font-family: lato; }
.contactSectionright h3 {
    border-bottom: 1px dotted #6d6e71;
    color: #6d6e71;
    font-size: 17px;
    margin-bottom: 5px;
    padding: 5px 0;
}
.uk_contact{  margin-top: 20px; }
.reg_ofc_contact{ margin-top:20px; }
.product_color{ margin-top:10px;}
.product_color li a {color: rgb(83, 62, 23);font-size: 15px;padding-left: 20px; }
.product_color li { margin-bottom:5px;}
.product_color li a i {
    margin-right: 10px;
}
.producto_color_texto{ padding-top:10px;}
.mypoup h4 {
	font-size: 25px;
	color: #000;
}
.mypoup .modal-body label {
	width: 30%;
	margin-right: 2%;
	display: inline-block;
	vertical-align: top;
	color: #6d6e71;
	font-size: 17px;
	font-weight: normal;
}
.mypoup .modal-body .inputBox {
	width: 65%;
	display: inline-block;
}
#reg_loader{ margin-top:10px;}
.alert-success{ font-size:14px; line-height: 20px;}
.alert-danger{ font-size:14px; line-height: 20px; }
#location_loader{ float: right; margin-top: -25px; position: relative; right: 50%; width: 10px;}
.save-shipping-address{ margin-top:70px; border-top:1px solid rgb(204,204,204);}
.save-shipping-address h4{ margin-top:20px;}
.view-address{ background: rgb(204,204,204); margin-bottom: 20px; margin-right: 20px; padding: 10px;  min-height: 265px;}
.view-address div { color: graytext; font-size: 15px; font-weight: normal; line-height: 20px; margin-bottom: 5px;}

.write_review_container_one{float:left; width:100%;}
.write_review_container_one .reviews{float:left; width:100%; padding-top:0px;}
.write_review_container_one .reviews h2{font-family:'lato', sans-serif; font-size:18px; font-weight:500; letter-spacing:0.25px; line-height:1; margin-bottom:5px; padding-bottom:5px; color:#333; border-bottom:1px solid #ddd; position:relative;}
.write_review_container_one .reviews h2:after{position:absolute; left:0px; top:100%; content:""; display:block; border:1px solid rgb(83, 62, 23); width:10%; color:rgb(83, 62, 23);}
.write_review_container_one .reviews_top{float:left; width:100%; margin-bottom:20px;  line-height: 30px;}
.write_review_container_one .reviews_top .rvw-cont{ background: rgb(83, 62, 23); padding: 6px 12px; color: #fff; text-align: center; font-family: 'lato', sans-serif; font-weight: 600; font-size:13px; outline: none; border: none; box-shadow: 3px 3px 0px #000; margin-bottom: 30px; transition: 0.4s ease-in-out; }
.reviews_top p { color:rgb(83, 62, 23); }
.write_review_container_one .reviews_top .rvw-cont:hover{opacity: 0.8; }
.write_review_container_two{float:left; width:100%; padding-top:0px;}
.write_review_container_two h2{font-family:'lato', sans-serif; font-size:18px; font-weight:500; letter-spacing:0.25px; line-height:1; margin-bottom:10px; padding-bottom:5px; color:#333; border-bottom:1px solid #ddd; position:relative;}
.write_review_container_two h2:after{position:absolute; left:0px; top:100%; content:""; display:block; border:1px solid #6EB653; width:10%;}
.write_review_container_two .form-group label{font-weight:500; font-family:'lato', sans-serif; text-align:left; font-size:15px; margin-bottom:10px;}
.write_review_container_two .form-group .form-control{font-weight:500; font-family:'lato', sans-serif; text-align:left; font-size:13px; border-radius:0px;}
.write_review_container_two .form-group{margin-bottom:5px;}
.write_review_container_two .form-group textarea.form-control{height:100px;}
.write_review_container_two .form-group .reviews_submit{ background: rgb(79,57,20); padding:10px 16px; color: #fff; text-align: center; font-family: 'lato', sans-serif; font-weight: 600; font-size:15px; outline: none; border: none; box-shadow: 3px 3px 0px #000; margin-bottom: 30px; transition: 0.4s ease-in-out; }
.write_review_container_two .form-group .reviews_submit:hover{opacity: 0.8; }
.write_review_container_two.animated {-webkit-transition: height 0.2s; -moz-transition: height 0.2s; transition: height 0.2s;}
.write_review_container_two.stars{margin:0px 0; font-size:18px; color: #E7711B;}
.write_review_container_two.stars .fa{margin-right:3px; cursor:pointer;}
.write_review_container_two.col_margin{margin-bottom:30px;}
.write_review_container_two.stars.starrr span { margin-right: 5px; cursor:pointer;}
.product-Qty{ margin-top:20px;}
.cart_wr .dropdown-menu { background-color: #fff; border-radius: 0; box-shadow: 0 -5px 13px #454545; left: -210px; min-width: 270px; padding: 10px; top: 35px;z-index: 2147483647; line-height: 20px;}
.cart_wr .cart_on_hover { padding:0px; font-size:14px; text-transform:lowercase; color:#000; position:relative; }
.des_aro { position:absolute; top:-21px; width:10px; height:10px; right:30px; font-size:26px; color:#fff; }
.cart_wr em { left: auto; max-width: 2px; padding: 3px !important; position: absolute; top: -12px; z-index: 10000000; }
.product-minus { margin-right:5px;}
.product-minus a {color:#000;}
.product-minus i {font-size:12px;}
.product-plus { margin-left:5px;}
.product-plus a {color:#000;}
.product-plus i {font-size:12px;}
.quantity-zero-msg { color: red; font-size: 11px;}
.promocode a{  color:#000; margin-left:10px;}
#promocode_err{ width: 30%;}
#promocode_err .alert-danger{ background:none !important;border: none !important; padding:0 !important; font-size: 12px !important; line-height: 15px !important;}
.addnewaddress{ float:left;}
.addnewaddress .orderConfirmText  a{ color:#000;}
.add_new_shipping h4 { border-bottom: 1px solid #000; font-size: 20px !important;margin-bottom: 20px; padding: 0 0 10px; }
.add_new_shipping textarea {  height: 90px !important; }
.payment_container{ text-align:center; width:100%; padding:50px;}
.payment_btn a img { display:flex; margin:0 auto}
.payment_price{ color: #000; font-family: Muli,sans-serif; font-size: 30px; font-weight: 600; margin-bottom: 10px; }
.you-pay {  color: rgb(79,57,20); }
.checkout-change-login { background: rgb(79, 57, 20) none repeat scroll 0 0; color: #fff; font-weight: normal; padding: 7px 15px 7px 14px; float:right;}
.checkout-change-login a { color:#fff;}
.section_margin_bottom{ margin-bottom:0;}
.product_name{ font-size: 16px;font-weight: normal;}
.social-Connect.row-fluid a {color: rgb(83, 62, 23);}
.review_inner_right .rating_listing .star_font { color: rgb(83, 62, 23);}
.teamContainer .us{  font-size: 200px; color:rgb(83, 62, 23); font-family: times new roman; margin-bottom:10px;}
.teamContainer .about_us_content_img{ margin-bottom: 10px; width:188px !important; }
.teamContainer .about_us_left{  margin-right: 5px; width: 55px; margin-top: 80px; margin-right: 5px; }
.teamContainer .about_us_left a{  color: rgb(79, 57, 20); font-size: 30px; cursor:pointer;}

.teamContainer .about_us_right{   margin-left: 680px;  margin-top: -27px; position: relative; width: 55px;}
.teamContainer .about_us_right a{ color: rgb(79, 57, 20); font-size: 30px;  }
.about_us_active{ display:block !important; }
.teamContainer .about_us_content_img h2 { color: rgb(91,73,39);  font-size: 20px;   margin-bottom: 12px;margin-top: 12px;   text-transform: uppercase;}
.teamContainer .about_us_content_img p { color: rgb(83, 62, 23);  font-size: 14px;  font-weight: 500;  line-height: 18px;
margin-bottom: 15px;  padding: 0;   text-align: left; }
/*.teamContainer #carousel {  overflow: hidden; width: 850px; margin:0 auto;}*/
/*.teamContainer #slides {  overflow: hidden; width: 695px; position:relative; float:left; position:relative; }*/


.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.crsl-wrap {
    width: 800px !important;
}
.teamContainer { float:left;}

.address-details h3{ font-size:20px; color:rgb(83,62,23); margin-bottom: 15px;}
.address-details p { line-height: 27px; color:rgb(83,62,23); }

.address-details span { font-size:18px; color:rgb(83,62,23);}
.address-details .uk_office{ margin-top:70px;}
.address-details .uk_office h3 {font-weight:bold;}
.address-details .uk_office .call_us { font-size: 17px; color:rgb(83,62,23); margin-top: 10px;}
.address-details .uk_office span { font-size:18px; color:rgb(83,62,23); line-height:27px;}
.address-details {  margin-top: 2px;}
.pd-listing-border{ border:1px solid rgb(221,221,221);}
.product-thumb div{border:1px solid rgb(221,221,221); margin-bottom: 10px;}

.payumoney {
    background-image: url("../images/payu_paisa_wallet_icon_strip.png?v=1.2") !important;
    background-position: 0 -56px !important;
    background-repeat: no-repeat !important;
    text-indent: -999999px;
}


.branding_info {
    background: rgba(0, 0, 0, 0) url("../images/payment.png") no-repeat scroll center center;
    display: inline-flex;
    height: 35px;
    top: 14px;
    width: 148px;
}
.paubiz h1 {
    color: #000;
    float: left;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
.card_image {
    background: rgba(0, 0, 0, 0) url("../images/payu_paisa_wallet_icon_strip.png?v=1.1") no-repeat scroll -147px -7px;
    float: right;
    height: 28px;
    margin-left: 10px;
    padding-top: 10px;
    width: 120px;
}
.card_support {
    clear: both;
    padding-bottom: 10px;
}
.card_support .wallet_info {
    color: #000;
	 font-size: 14px;
}
.card_support .wallet_info span {
    background: rgba(0, 0, 0, 0) url("../images/payu_paisa_wallet_icon_strip.png?v=1.1") no-repeat scroll -408px -13px;
    display: block;
    float: left;
    height: 15px;
    padding-right: 18px;
    width: 16px;
}
.button_container {
    clear: both;
    overflow: auto;
    padding-top: 15px;
    width: 100%;
}
.button_container span {
    display: block;
    font-style: italic;
    line-height: 25px;
    margin: 10px 0;
}
.button_container .button {
   background-color: rgb(84, 62, 26);
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 25px;
}
.check_out_wr { float:left; width:100%; }
#notifyMessage{float:left; width:100%;}
#notifyMessage i{font-size: 22px; padding-right: 10px; text-align: center;}
.payment-success-page #notifyMessage i{ font-size: 60px;}
#notifyMessage p{ font-size: 20px; margin: 11px auto;text-align: center;}
#notifyMessage .alert{border-radius:0px;}
.payment_success_containr{float:left; width:100%; text-align:center; min-height:315px;}
.success_inner{margin:0px auto; width:80%;}
.pay_top_icon i{text-align:center; color:#619C59; font-size:56px;}
.pay_top_thanks{ color: #619c59;  font-family: "Muli",sans-serif; font-size: 48px;text-align: center;}
.success_inner p{text-align:center; color:#454545; font-size:16px; font-family: 'Muli', sans-serif;}
.payment-success-page{  margin-top: 52px;}

.payment_error_containr{float:left; width:100%; text-align:center;}
.error_inner{margin:0px auto; width:80%;}
.error_inner .pay_top_icon i{text-align:center; padding-top:50px; color:#FF0000; font-size:56px;}
.payment_error_containr .pay_top_thanks{font-size:24px; color:#FF0000; margin-top: 20px;}

.payment_container_wr{float:left; width:100%; background:#ffffff; padding-bottom:8px; padding-top:30px;}
.payment_container{float:left; width:100%;}
.oops_img{float:left; width:100%;}
.oops_img img{max-width:100%; max-height:100%;}
.payment_container h1{font-family:'Muli',sans-serif; text-align:center; color:rgb(81,60,23); font-size:70px; margin-bottom:20px; letter-spacing:6px;}
.payment_container p{font-family:'Muli',sans-serif; text-align:center; color:#333; font-size:15px; padding-bottom:15px;}
.payment-try-again{background:rgb(79,57,20); padding:7px 12px; font-size:16px; font-family:'Muli',sans-serif; display:inline; color:#fff;}
.out_stock { width: 90%; font-size: 16px; margin: 0 auto; border-radius: 2px; background-color: #fff; box-shadow: 0 1px 3px 0 rgba(0,0,0,.12); text-align: center; padding: 10px 15px; text-transform: uppercase; pointer-events:none; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); top: 65%;}
.out_stock span {  color: #ff6161; }
.out_stock_gray{ filter: grayscale(1); opacity: 0.6;}
.pd_out_stock_wrapper { color: rgb(79,57,20); margin-top: 15px; line-height: 40px;}
.pd_out_stock_inner_wrapper{}
.pd_out_stock_inner_wrapper ._3FV-Hc {  font-size: 36px;}
.pd_out_stock_inner_wrapper ._20qTiu {  font-size: 20px; color: #878787; font-weight: 400;}
.my_order_details a { color: rgb(100, 81, 48); font-size: 20px; }
.my_order_details .cartStepBody { border-top:1px solid #ccc;}
.my_order_details tr th div a{background: rgb(83, 62, 23);border: 1px solid rgb(83, 62, 23); box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);color: #fff; float: left;  padding: 10px;   width: auto; font-size:18px; }
.my_order_details table { box-shadow: 0 0 10px #d3cbb8;}
.my_order_details tr td { border: medium none !important; }
.my_order_details_inner_container {  background:none !important; border:1px solid rgb(204,204,204); float: left;  box-shadow: 0 0 2px 0 #d3cbb8; padding: 10px; width: 100%;}
.my_order_details_container .finalaccLeft {width:40%; padding: 10px 24px;}
.my_order_details_container .finalaccRight {width:60%; padding: 10px 24px;}
.my_order_details_container h5 { font-size: 26px !important; font-weight: bold; }
.my_order_details_container li { border-bottom: 1px solid rgb(207, 207, 207); line-height: 37px !important;}
.my_order_details_container li label { color: #848484; float: left; font-size: 13px; width: 120px;}
.my_order_details_container .finalaccTabContent p { padding: 0 !important; color:rgb(79,57,20) !important; line-height: 35px !important; }
.my_order_details_container .finalaccTabContent { margin-top:45px;}
.my_order_details_container .review-product a{ margin-top:45px !important;}
.my_order_details_container .shop_wishlist{ overflow: visible !important; width: 20%;}
.finalAccountPage .finalaccLeftTop p a{ color:rgb(83,62,23);}
.header-promocode-adv{  float: left; margin-top: 10px; text-align: left; width: 70%;}
.header-promocode-adv span{ color:#D52D42;}
@-webkit-keyframes blinker {from {opacity: 1.0;} to {opacity: 0.0;}}
.blink{	text-decoration: blink;	-webkit-animation-name: blinker;	-webkit-animation-duration: 0.6s;	-webkit-animation-iteration-count:infinite;	-webkit-animation-timing-function:ease-in-out;-webkit-animation-direction: alternate;}
#b2b_msg p{color: #503a15; font-size: 18px; line-height: 37px;}
#b2b_msg h4{ color: #695637;  font-size: 20px; font-weight: 700;}

@media screen and (max-width:767px){
	#myModal25 .form-group label, #myModal25 .form-group .form-control{ width:100%; margin-bottom:5px; }
#myModal25 .form-group .btn-primary{ margin-left:80px; width:80px; position:relative; left:50%;}
}
.new_career {

    text-align: center !important;
    background: #FBAB18;
    cursor: pointer;
}
.new_career a {
    color: white !important;
}
.new_career a:hover {
    color: white !important;
}
