/*************** F O N T S *************************/
@font-face {
    font-family: 'GessoRegular';
    src: url('../fonts/GESSO___-webfont.eot');
    src: url('../fonts/GESSO___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GESSO___-webfont.woff') format('woff'),
         url('../fonts/GESSO___-webfont.ttf') format('truetype'),
         url('../fonts/GESSO___-webfont.svg#GessoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LintsecRegular';
    src: url('../fonts/Lintsec-webfont.eot');
    src: url('../fonts/Lintsec-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lintsec-webfont.woff') format('woff'),
         url('../fonts/Lintsec-webfont.ttf') format('truetype'),
         url('../fonts/Lintsec-webfont.svg#LintsecRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/************  R E S E T ******************************/
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body{
	font-family: Arial, sans-serif;
	background: url('../images/dust.png') repeat;
	color: #080808;
}

/********** G E N E R A L    S T Y L E ***************/
#wrapper{
	width: 880px;
	height: 310px;
	margin: 140px auto;
	background: url('../images/uc.png') no-repeat;
	padding-top: 40px;
}
#content{
	margin: -10px 0 0 380px;
}

/*********  L O G O  &  CM   S T Y L E *******************/
h1{
	font-family: LintsecRegular;
	font-weight: normal;
	font-size: 35px;
	color: #FFF200;
	background-color: #000;
	padding: 13px 0 10px 12px;
	width: 335px;
	border-radius: 8px;
}
h2{
	font-family: GessoRegular;
	font-weight: normal;
	font-size: 90px;
	margin: 0 0 -45px -4px;
}
p{
	font-size: 16px;
	text-shadow: 1px 1px 0 #fff;
    font-weight: bold;
}
#o{
	margin: 20px 0 -70px 0;
	font-size: 28px;
	text-transform: uppercase;
	font-weight: bold;
}
a img{
	margin: 10px 10px 10px 0;
}

/************ F o r  m   S T Y L E ***********************/
form{
	margin-top: 10px;
}
#sub input{
	display: block;
	float: left;
}

input[type="email"]{
	height: 26px;
	width: 260px;
	color: #121212;
	background-color: #ccc;
	border: 1px solid #000;
	border-radius: 5px;
	padding-left: 6px;
}
input[type="submit"]{
	width: 95px;
	height: 29px;
	color: #fff200;
	font-weight: bold;
	background-color: #000;
	border: 2px outset #181818;
	border-radius: 5px;
	margin: -1px 0 0 4px;
}
input[type="submit"]:hover{
	cursor:pointer;
}
input[type="submit"]:active{
	padding: 0 3px 3px 0;
	color: #fff200;
	border: 2px inset #181818;
}