@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
}

body {
	line-height: 1.42857143 !important;
    color: #333 !important;
}

a, a:hover {
	text-decoration: none;
}

.clear {
	clear: both;
}

.no-padding-right {
	padding-right: 0px !important;
}

.no-padding-left {
	padding-left: 0px !important;
}

.no-padding-left-right {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.bottom-gap {
	margin-bottom: 10px;
}

.top-gap {
	margin-top: 10px;
}

.visibility-hidden {
	visibility: hidden;
}

.height-250 {
	height: 250px;
}

.height-350 {
	height: 350px;
}

/*.thumbs-md-height {
	height: calc(14% - 5px);
}

.three-thumbs-height {
	height: calc(19% - 5px);
}*/

.prime-folk-nav {
	position: fixed;
    background-color: #f4f2f5;
    top: 0;
    left: 0;
    width: 100%;
    /*box-shadow: 0px 1px 20px 1px #c3c3c3;*/
    z-index: 999;
}

.prime-folk-nav ul {
	margin-bottom: 0;
	display: inline-block;
	padding-left: 0;
}

.prime-folk-nav ul li {
	list-style: none;
    display: inline-block;
    /* margin-right: 15px; */
    padding: 20px 15px;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}

.prime-folk-nav ul li:hover,
.prime-folk-nav ul li.active {

	text-shadow: 1px 0px 0px #333;
	background-color: #dfdddf;
	color: #000;
	border-bottom: 3px solid #000;

}

.prime-folk-nav ul li:hover .nav-select select {
	background-color: #dfdddf;
}

.prime-folk-nav ul li a {
	color: #212121;
}

.nav-login, .nav-ecom {
	padding: 20px;
}

.nav-ecom {
	background-color: #dfdddf;
	font-weight: bold;
	text-align: right;
    width: 160px;
    border-bottom: 3px solid #dfdddf;
}

.nav-ecom a {
	color: #5e5d5d;
}

.nav-ecom img, .nav-login img {
	width: 20px;
	margin-right: 15px;
}

.nav-select {
	
}

.nav-select select {
	/*-webkit-appearance: none;*/
	background-color: #f4f2f5;
	border: none;
	transition: all 0.5s ease;
}

.nav-select select:focus {
	outline: none;
}

.second-folk-nav {
	padding: 10px;
	margin-top: 60px;
}

.second-folk-nav ul {
	margin-bottom: 0;
	display: inline-block;
	vertical-align: bottom;
}

.nav-logo {
	display: inline-block;
}

.nav-logo img {
	width: 30px;
    margin-left: 20px;
}

.second-folk-nav ul li {
	list-style: none;
	vertical-align: bottom;
	display: inline-block;
	margin-right: 20px;
}

.second-folk-nav ul li a {
	color: #333;
	font-size: 16px;
}

.second-folk-nav .container {
	width: 85%;
}

.img-full-height {
	height: 100%;
}

.section-style img {
	width: 100%;
}

.section-style {
	padding: 30px 15px;
}

.right-side-sec {
	margin-top: 40px;
}

.right-side-sec h3 {
	position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.right-side-sec h3:after {
	content: '';
    position: absolute;
    height: 3px;
    width: 46%;
    bottom: -10px;
    left: 0;
    background-color: rgba(188,144,54,1.0);
}

.right-side-sec p {
	font-size: 18px;
    margin-bottom: 25px;
    text-align: justify;
}

.right-side-sec p span {
	display: block;
}

.sandal-section {
	background-color: rgba(244,237,219,1.0);
}

.goal-img-size {
	width: 170px !important;
    padding-top: 15px;
    padding-bottom: 10px;
    height: 50px !important;
}

.content-icons {
	display: flex;
}

.content-icons div {
    margin-right: 20px;
    text-align: center;
    vertical-align: top;
    height: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-icons div img {
	width: 40px;
    height: 40px;
    min-height: 40px;
    margin-bottom: 5px;
}

.content-icons span h5 {
	margin-top: 0;
}


/* Author: Aditya */

.footer-class {
	background-color: #1c2125; 
	padding: 2.5rem 4rem 2.5rem 4rem; 
	display: flex; 
	flex-direction: column;
	align-items: center;
	color: white;
	letter-spacing: 0.25px;
}

.footer-div-class {
	display: flex; 
	justify-content: flex-start; 
	width: 75%;
	padding: 1rem 0;
}

.contact-heading-span {
	font-size: 2rem;
}

.d-flex {
	display: flex;
}

.width-30 {
	width: 30%;
}

.width-40 {
	width: 40%;
}

.footer-contact-div {
	padding-top: 0!important;
	padding-bottom: 2rem!important;
}

.footer-img-class {
    margin-right: 2rem;
}

.last-footer-class {
	padding: 3.5rem 3rem 4.5rem 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.last-footer-divs {
	width: 60%;
}

.last-footer-links-div {
	width: 52%;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.last-footer-img-span {
	margin-right: 2rem;
}

.justify-content-center {
	justify-content: center;
}

.padding-2rem {
	padding: 2rem 0;
}

.font-size-1rem {
	font-size: 1rem;
	letter-spacing: 0.5px;
}

.font-size-13px {
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

.image-thumb-icon-wrapper {
	display: flex;
	justify-content: space-between;
}

.width-20-perc {
	width: 20%;
}

.width-22-perc {
	width: 22%;
}

.width-25-perc {
	width: 25%;
}

.mobile-nav {
	display: none;
}

.thumbnails-hide-mobile {
	display: flex;
}

.thumbnails-show-mobile {
	display: none;
}

.mob-page-title {
	display: none;
}

.tag-line {
	background-color: #333;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 20px 10px;
    margin-top: 82px;
    font-weight: bold;
}

.footer-img-class {
	display: inline-block;
}

.footer-img-class img {
	width: 20px;
}

/* Author: Aditya */




@media (max-width: 800px) {

	.tag-line {
		margin-top: 112px;	}

	.height-sm-230 {
		height: 230px;
	}

	.height-sm-160 {
		height: 160px;
	}

/*	.height-sm-170 {
		height: 170px;
	}*/

	.nav-login, .nav-ecom {
    	padding: 15px;
	}

	.prime-folk-nav ul li {
		padding: 15px;
	}

	.right-side-sec {
    	margin-top: 0px;
	}

	.right-side-sec h3 {
		margin-top: 0;
	}

	/*.thumbs-md-height {
    	height: calc(7% - 5px);
	}

	.three-thumbs-height {
    	height: calc(8% - 5px);
	}*/

	.mainMenu .navbar-nav > li > a {
		padding: 10px 5px;
	}

	.mainMenu {
		padding-left: 0;
    	padding-right: 0;
	}

	.footer-div-class .justify-content-center-web .footer-img-class {
		width: 42%;
	} 


}

@media (max-width: 600px) {

	.right-side-sec p, .right-side-sec ul {
		padding-left: 10px;
		padding-right: 10px;
	}

	.musicMenu.new-li {
		margin-top: 10px;
		text-align: center;
	}

	.musicMenu.new-li label {
		margin-bottom: 0px;
	}

	.topNav li a marquee {
		width: 100%;
	}

	.justify-xs-center {
		justify-content: center;
	}

	.thumbnails-hide-mobile {
		display: none;
	}

	.display-xs-flex {
		display: flex;
	}

	.thumbnails-show-mobile {
		display: flex;
	}

	/*.thumbs-xs-height {
		height: calc(14% - 5px);
	}

	.three-thumbs-height {
		height: calc(15% - 5px);
	}
*/
	.margin-xs-top-40 {
		margin-top: 40px;
	}

	.no-margin-xs-top {
		margin-top: 0;
	}

	.bottom-xs-gap {
		margin-bottom: 10px;
	}

	.full-xs-width {
		width: 100% !important;
	}

	.hide-for-mobile {
		display: none;	
	}

	.show-for-mobile {
		display: block;	
	}

	.mob-page-title {
		display: block;
	    background-color: #333;
	    color: #fff;
	    padding: 10px;
	    width: 100%;
	    text-align: center;
	    font-weight: bold;
	    font-size: 16px;
	    margin-top: -1px;
	}

	.nav-for-desk-top {
		display: none;
	}

	.section-style {
    	padding: 0px 15px;
	}

	.height-xs-200 {
    	height: 200px;
	}

	.height-xs-150 {
    	height: 150px;
	}

	.no-xs-padding-l {
		padding-left: 0px;
	}

	.no-xs-padding-r {
		padding-right: 0px;
	}

	.xs-padding-right {
		padding-right: 10px;
	}

	.xs-padding-left {
		padding-left: 10px;
	}

	.mob-d-none {
		display: none
	}

	.footer-div-class {
		display: flex; 
		justify-content: flex-start; 
		width: 100%;
		padding: 1rem 0;
	}

	.footer-class {
		background-color: #1c2125; 
		padding: 2.5rem 3rem 2.5rem 3rem; 
		display: flex; 
		flex-direction: column;
		align-items: center;
		color: white;
		letter-spacing: 0.25px;
	}

	.flex-column {
		flex-direction: column!important;
	}

	.width-30 {
	    width: 100%;
	    margin-bottom: 2rem;
	}

	.width-40 {
	    width: 100%;
	}

	.footer-img-class {
	    margin-right: 1.5rem;
	}

	.last-footer-links-div {
	    width: 100%;
	    display: flex;
	    justify-content: space-around;
	    font-size: 14px;
	    flex-wrap: wrap;
	}

	.font-size-13px {
	    font-size: 12px;
	    font-weight: bold;
	    margin: 1rem 0.5rem;
	}

	.last-footer-divs {
		width: 100%;
	}

	.last-footer-class {
	    padding: 3rem 3rem 3.5rem 3rem;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	}

	.web-d-none {
		margin: 1rem 0 0 0;
		color: rgba(0, 0, 0, 0.5);
	    font-size: 11px;
	    text-align: center;
	}

	/*.right-side-sec {
    	margin-top: 0px;
	}*/

	.right-side-sec h3 {
		margin-top: 10px;
		text-align: center;
		margin-bottom: 15px;
		width: 70%;
	    padding-bottom: 10px;
	    border-bottom: 2px solid rgba(188,144,54,1.0);
	    margin-left: auto;
	    margin-right: auto;
	}

	.right-side-sec h3:after {
		display: none;
	}

	.secion-img-content {
		clear: both;
	}

	.image-thumb-icon-wrapper .width-30 {
		width: 30%;
		margin-bottom: 0;
	}

	.content-icons {
		align-items: center;
    	justify-content: space-around;
    	margin-bottom: 20px;
	}

	.mobile-side-menu {
		position: fixed;
		background-color: #fff;
		left: -100%;
		top: 0;
		bottom:0;
		z-index: 999;
		padding: 20px;
		box-shadow: 0px 0px 20px 0px #6b6b6b;
    	width: 65%;
    	transition: all 0.5s ease;
	}

	.mobile-side-menu.open {
		left: 0%;
	}

	.mob-nav-close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}

	.mob-nav-close img {
		width: 15px !important;
	}

	.mobile-side-menu ul li {
		list-style: none;
		margin-bottom: 10px;
		text-align: left;
		width: 100%;
	}

	.mobile-side-menu ul li a {
		color: #333;
	}

	.mobile-nav {
		display: flex;
	    background-color: #fff;
	    padding: 10px;
	    text-align: center;
	    justify-content: space-between;
	    box-shadow: 0px 1px 10px 1px #585858;
	    margin-bottom: 10px;
	    position: fixed;
	    top: 0px;
	    left: 0px;
	    width: 100%;
	    z-index: 999;
	}

	.mobile-nav img {
		width: 25px;
	}

	.mobile-side-menu ul {
    	padding-left: 0;
    	position: relative;
    	top: 10px;
  	}

  	.mobile-login img, .bars-img img {
  		width: 20px;
	    margin-right: 10px;
	    vertical-align: -webkit-baseline-middle;
	    display: inline-block;
  	}

  	.main-page-content {
  		margin-top: 0px;
  	}

  	.mob-sub-menu img {
  		width: 15px;
  	}

  	.select-sub-menu img {
  		transition: all 0.5s ease;
  	}

  	.select-sub-menu.rotate img {
  		-webkit-transform: rotate(180deg);
  		transform: rotate(180deg);
  		
  	}

  	.mob-sub-menu ul {
  		height: 0px;
  		opacity: 0;
  		transition: all 0.5s ease;
  	}

  	.mob-sub-menu ul.open {
  		height: 120px;
  		opacity: 1;
  	}

  	.mob-sub-menu ul li {
  		list-style: none;
  		padding: 5px;

  	}

  	.select-sub-menu {

  	}

  	.tag-line {
  		margin-top: 0px;
  		padding: 10px 10px;
  	}

  	.mainMenu {
  		padding-bottom: 0;
  	}

  	.mainMenu .navbar-default {
    	margin-bottom: 0px;
	}

	.footer-div-class .justify-content-center-web .footer-img-class {
		width: 18%;
	}

}

@media (min-width: 1000px) {
	.web-d-none {
		display: none;
	}

	.width-60 {
		width: 60%;
	}

	.justify-content-center-web {
		justify-content: center;
	}

}
